[2015-08-21 08:48] drseb opened #1 "All editors need access to this repo"
Hi @cmungall or other owners,

the phenotype editors that have to change the imports files need access to the [upheno-repository](https://github.com/obophenotype/upheno).

Also, several users are owners and others are not. It may be easier to add more people to owners (I can't see the pattern who became owner and who not). Anyway we need access to upheno.

Thanks,
Seb

[2015-08-21 16:28] cmungall commented on #1
added mp and hp teams, done!

[2015-08-21 16:28] #1 closed

[2015-08-22 20:49] obophenotype-user opened #2 "Add EqAxioms for "susceptibility to weight loss" and similar terns"
Originally reported on Google Code with ID 1
[code]

Reported by `cmungall` on 2012-11-16 23:31:28

[2015-08-22 20:49] obophenotype-user opened #3 "Remove ref to FMA:74642 ! luteinizing hormone and FMA:52901 ! Horizontal plate of palatine bone in mp axioms"
Originally reported on Google Code with ID 2
[code]

Reported by `cmungall` on 2013-10-29 15:23:34

[2015-08-22 20:49] obophenotype-user opened #4 "aortic (valve) stenosis"
Originally reported on Google Code with ID 3

[code]

Reported by `cmungall` on 2013-10-31 00:38:26

[2015-08-22 20:49] obophenotype-user opened #5 "ZP glucose tolerance failing to match"
Originally reported on Google Code with ID 4
[code]

Reported by `cmungall` on 2013-11-09 01:20:52

[2015-08-22 20:49] obophenotype-user opened #6 "ZFIN annotations use BSPO relations as classes"
Originally reported on Google Code with ID 5

[code]

Reported by `cmungall` on 2013-11-12 20:57:03

[2015-08-22 20:49] obophenotype-user opened #7 "need disease classification according to number of genes involved"
Originally reported on Google Code with ID 6
[code]

Reported by `haendel@ohsu.edu` on 2013-12-18 14:26:26

[2015-08-22 20:50] obophenotype-user opened #8 "acidemia vs acidosis confusion"
Originally reported on Google Code with ID 7
[code]

Reported by `cmungall` on 2014-02-03 02:32:11

[2015-08-22 20:50] obophenotype-user opened #9 "issue with: dilated heart left ventricle"
Originally reported on Google Code with ID 8
[code]

Reported by `cmungall` on 2014-03-17 19:12:28

[2015-08-22 20:50] obophenotype-user opened #10 "incoherent ontologies resulting from dpo"
Originally reported on Google Code with ID 9

[code]

Reported by `cmungall` on 2014-03-21 21:26:19

[2015-08-22 20:50] #10 closed, assigned to obophenotype-user

[2015-08-22 20:50] obophenotype-user opened #11 "Fix entity matching pipeline: "Abnormality of habitus" != abnormal habituation"
Originally reported on Google Code with ID 10

[code]

Reported by `cmungall` on 2014-03-27 18:56:07

[2015-08-22 20:50] #11 closed, assigned to obophenotype-user

[2015-08-22 20:50] obophenotype-user opened #12 "Add axiom annotation to equivalence axioms derived from lexical entity matching"
Originally reported on Google Code with ID 11
[code]

Reported by `cmungall` on 2014-03-28 14:54:15

[2015-08-22 20:50] obophenotype-user opened #13 "remove: abnormality of orbital region = abnormality of orbit"
Originally reported on Google Code with ID 12
[code]

Reported by `cmungall` on 2014-03-28 15:10:18

[2015-08-23 18:21] obophenotype-user opened #14 "Website broken link"
Originally reported on Google Code with ID 13

[code]

Reported by `dr.sebastian.koehler` on 2014-03-29 10:36:06

[2015-08-23 18:22] #14 closed, assigned to obophenotype-user

[2015-08-23 18:22] obophenotype-user opened #15 "Incorrect logical def for 'Abnormality of cellular immune system'"
Originally reported on Google Code with ID 14

[code]

Reported by `cmungall` on 2014-04-02 21:50:10

[2015-08-23 18:22] #15 closed, assigned to obophenotype-user

[2015-08-23 18:22] obophenotype-user opened #16 "Abnormality of ion homeostasis"
Originally reported on Google Code with ID 15

[code]

Reported by `dr.sebastian.koehler` on 2014-04-04 08:33:05

<hr>
- _Attachment: Screen Shot 2014-04-04 at 10.15.16.png<br>![Screen Shot 2014-04-04 at 10.15.16.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-15/comment-0/Screen Shot 2014-04-04 at 10.15.16.png)_

[2015-08-23 18:22] #16 closed, assigned to obophenotype-user

[2015-08-23 18:23] obophenotype-user opened #17 ""Long fingers" vs. "Short toe" vs. "Arachnodactyly""
Originally reported on Google Code with ID 16

[code]

Reported by `dr.sebastian.koehler` on 2014-04-04 09:02:20

<hr>
- _Attachment: Screen Shot 2014-04-04 at 10.59.36.png<br>![Screen Shot 2014-04-04 at 10.59.36.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-16/comment-0/Screen Shot 2014-04-04 at 10.59.36.png)_

[2015-08-23 18:23] #17 closed, assigned to obophenotype-user

[2015-08-23 18:23] obophenotype-user opened #18 "Add axiom annotation to indicate which equivalence axioms come from text matching"
Originally reported on Google Code with ID 17

[code]

Reported by `cmungall` on 2014-04-04 16:11:43

[2015-08-23 18:23] #18 closed, assigned to obophenotype-user

[2015-08-23 18:23] obophenotype-user opened #19 "Incorrect lexical map for abnormal eye muscle morphology"
Originally reported on Google Code with ID 18

[code]

Reported by `cmungall` on 2014-04-10 20:25:33

[2015-08-23 18:24] #19 closed, assigned to obophenotype-user

[2015-08-23 18:24] obophenotype-user opened #20 "incorporate snomed-ct vet extension terms"
Originally reported on Google Code with ID 19
[code]

Reported by `nicole.l.washington` on 2014-04-29 21:59:21

[2015-08-23 18:24] obophenotype-user opened #21 "fly phenotype ontology inconsistency"
Originally reported on Google Code with ID 20

[code]

Reported by `cmungall` on 2014-05-07 06:18:55

<hr>
- _Attachment: Screen Shot 2014-05-06 at 11.14.49 PM.png<br>![Screen Shot 2014-05-06 at 11.14.49 PM.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-20/comment-0/Screen Shot 2014-05-06 at 11.14.49 PM.png)_

[2015-08-23 18:24] #21 closed, assigned to obophenotype-user

[2015-08-23 18:24] obophenotype-user opened #22 "Add MedGen to disease importer"
Originally reported on Google Code with ID 21
[code]

Reported by `haendel@ohsu.edu` on 2014-05-08 16:07:25

[2015-08-23 18:24] obophenotype-user opened #23 "errors in OMIM:270220 annotation"
Originally reported on Google Code with ID 22
[code]

Reported by `nicole.l.washington` on 2014-05-13 20:09:01

[2015-08-23 18:24] obophenotype-user opened #24 "Need to remove pseudo-anonymous class from MP-edit"
Originally reported on Google Code with ID 23

[code]

Reported by `haendel@ohsu.edu` on 2014-05-19 22:46:11

[2015-08-23 18:24] #24 closed, assigned to obophenotype-user

[2015-08-23 18:24] obophenotype-user opened #25 "would like to review the property 'results_in_change_to'"
Originally reported on Google Code with ID 24

[code]

Reported by `vasilevs@ohsu.edu` on 2014-05-22 15:44:32

[2015-08-23 18:25] obophenotype-user opened #26 "Substantia nigra human phenotypes not matching midbrain phenotypes"
Originally reported on Google Code with ID 25
[code]

Reported by `haendel@ohsu.edu` on 2014-05-24 15:11:41

[2015-08-23 18:25] obophenotype-user opened #27 "abnormality of movement and multicellular organismal movement"
Originally reported on Google Code with ID 26
[code]

Reported by `haendel@ohsu.edu` on 2014-05-24 15:30:13

[2015-08-23 18:25] obophenotype-user opened #28 "proptosis isn't returning abnormalities of the eye"
Originally reported on Google Code with ID 27
[code]

Reported by `haendel@ohsu.edu` on 2014-05-24 15:58:59

[2015-08-23 18:25] obophenotype-user opened #29 "Symmetric relational quality issues"
Originally reported on Google Code with ID 28
[code]

Reported by `cmungall` on 2014-05-26 21:53:11

[2015-08-23 18:26] obophenotype-user opened #30 "Displacement of the external urethral meatus"
Originally reported on Google Code with ID 29
[code]

Reported by `cmungall` on 2014-05-26 22:02:01

[2015-08-23 18:26] obophenotype-user opened #31 "HP logical defs that use molecular entities from FMA"
Originally reported on Google Code with ID 30
[code]

Reported by `cmungall` on 2014-05-26 23:13:28

[2015-08-23 18:26] obophenotype-user opened #32 "TermGenie for MP"
Originally reported on Google Code with ID 31
[code]

Reported by `cmungall` on 2014-06-02 17:57:43

[2015-08-23 18:26] obophenotype-user opened #33 "Columella"
Originally reported on Google Code with ID 32
[code]

Reported by `dr.sebastian.koehler` on 2014-06-17 20:11:53

[2015-08-23 18:26] obophenotype-user opened #34 "axiomatize ages of onset"
Originally reported on Google Code with ID 33

[code]

Reported by `cmungall` on 2014-07-06 22:08:34

[2015-08-23 18:26] #34 closed, assigned to obophenotype-user

[2015-08-23 18:27] obophenotype-user opened #35 "vertebrate-merged-simple.obo"
Originally reported on Google Code with ID 34

[code]

Reported by `dr.sebastian.koehler` on 2014-07-07 09:17:10

[2015-08-23 18:27] #35 closed, assigned to obophenotype-user

[2015-08-23 18:27] obophenotype-user opened #36 "vertebrate-merged-simple.obo (Terms without labels)"
Originally reported on Google Code with ID 35

[code]

Reported by `dr.sebastian.koehler` on 2014-07-08 15:33:51

[2015-08-23 18:27] #36 closed, assigned to obophenotype-user

[2015-08-23 18:27] obophenotype-user opened #37 "MP: logical axiom for deprecated class"
Originally reported on Google Code with ID 36

[code]

Reported by `dr.sebastian.koehler` on 2014-07-08 15:52:05

[2015-08-23 18:27] #37 closed, assigned to obophenotype-user

[2015-08-23 18:28] obophenotype-user opened #38 "unsatisfiable classes in MP and HP when all of RO is loaded"
Originally reported on Google Code with ID 37

[code]

Reported by `cmungall` on 2014-07-09 00:00:37

[2015-08-23 18:28] obophenotype-user opened #39 "ZP-IDs missing"
Originally reported on Google Code with ID 38

[code]

Reported by `dr.sebastian.koehler` on 2014-07-09 15:16:33

[2015-08-23 18:28] #39 closed, assigned to obophenotype-user

[2015-08-23 18:28] obophenotype-user opened #40 "Investigate differences between old and new uberpheno production strategies"
Originally reported on Google Code with ID 39

[code]

Reported by `cmungall` on 2014-07-09 23:48:15

<hr>
- _Attachment: [DIFF](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-39/comment-0/DIFF)_

[2015-08-23 18:29] #40 closed, assigned to obophenotype-user

[2015-08-23 18:29] obophenotype-user opened #41 "duplicate file zp-mappings"
Originally reported on Google Code with ID 40

[code]

Reported by `dr.sebastian.koehler` on 2014-07-10 10:53:26

[2015-08-23 18:29] #41 closed, assigned to obophenotype-user

[2015-08-23 18:29] obophenotype-user opened #42 "Export of xx-edit.owl from protege"
Originally reported on Google Code with ID 41

[code]

Reported by `dr.sebastian.koehler` on 2014-07-11 10:04:20

[2015-08-23 18:30] #42 closed, assigned to obophenotype-user

[2015-08-23 18:30] obophenotype-user opened #43 "Pectus excavatum"
Originally reported on Google Code with ID 42

[code]

Reported by `dr.sebastian.koehler` on 2014-07-22 09:22:58

<hr>
- _Attachment: Screen Shot 2014-07-17 at 10.55.10.png<br>![Screen Shot 2014-07-17 at 10.55.10.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-42/comment-0/Screen Shot 2014-07-17 at 10.55.10.png)_

[2015-08-23 18:30] #43 closed, assigned to obophenotype-user

[2015-08-23 18:30] obophenotype-user opened #44 "HP class pairs inferred to be equivalent"
Originally reported on Google Code with ID 43
[code]

Reported by `cmungall` on 2014-07-28 20:55:49

[2015-08-23 18:31] obophenotype-user opened #45 "_:abnormal_cornea_size in HP"
Originally reported on Google Code with ID 44
[code]

Reported by `cmungall` on 2014-07-28 21:04:29

[2015-08-23 18:31] obophenotype-user opened #46 "'has component' is weird"
Originally reported on Google Code with ID 45
[code]

Reported by `michel.dumontier` on 2014-07-28 22:03:28

[2015-08-23 18:31] obophenotype-user opened #47 "concentration"
Originally reported on Google Code with ID 46
[code]

Reported by `michel.dumontier` on 2014-07-28 22:07:13

[2015-08-23 18:31] obophenotype-user opened #48 "aplasia of the fingers odd inferences"
Originally reported on Google Code with ID 47

[code]

Reported by `cmungall` on 2014-07-29 20:19:11

<hr>
- _Attachment: Screen Shot 2014-07-29 at 1.17.13 PM.png<br>![Screen Shot 2014-07-29 at 1.17.13 PM.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-47/comment-0/Screen Shot 2014-07-29 at 1.17.13 PM.png)_

[2015-08-23 18:32] #48 closed, assigned to obophenotype-user

[2015-08-23 18:32] obophenotype-user opened #49 "zp.owl issue"
Originally reported on Google Code with ID 48
[code]

Reported by `cmungall` on 2014-07-31 19:11:55

[2015-08-23 18:32] obophenotype-user opened #50 "Imports are duplicated"
Originally reported on Google Code with ID 49
[code]

Reported by `dr.sebastian.koehler` on 2014-08-06 14:38:04

[2015-08-23 18:32] obophenotype-user opened #51 "MP:0005508 and HP:0011842"
Originally reported on Google Code with ID 50

[code]

Reported by `dr.sebastian.koehler` on 2014-08-07 15:07:25

[2015-08-23 18:32] obophenotype-user opened #52 "Add explicit has-qualifier clauses to equivalence axioms"
Originally reported on Google Code with ID 51
[code]

Reported by `cmungall` on 2014-08-08 15:58:22

[2015-08-23 18:32] obophenotype-user opened #53 "Abnormal qualifiers in uberpheno"
Originally reported on Google Code with ID 52
[code]

Reported by `dr.sebastian.koehler` on 2014-08-15 08:02:26

<hr>
 * *Attachment: [abnormal_for_zp.jpg](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-52/comment-0/abnormal_for_zp.jpg)*

[2015-08-23 18:32] obophenotype-user opened #54 "Decide on strategy for equivalence to ZFA"
Originally reported on Google Code with ID 53
[code]

Reported by `cmungall` on 2014-08-15 23:24:53

[2015-08-23 18:32] obophenotype-user opened #55 "Strange anatomy hierarchy in vertebrate.owl"
Originally reported on Google Code with ID 54
[code]

Reported by `dr.sebastian.koehler` on 2014-08-18 11:34:43

<hr>
 * *Attachment: Screen Shot 2014-08-18 at 13.30.47.png<br>![Screen Shot 2014-08-18 at 13.30.47.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-54/comment-0/Screen Shot 2014-08-18 at 13.30.47.png)*

[2015-08-23 18:33] obophenotype-user opened #56 "frequency classes"
Originally reported on Google Code with ID 55
[code]

Reported by `haendel@ohsu.edu` on 2014-09-13 04:41:24

[2015-08-23 18:33] obophenotype-user opened #57 "Cranial suture and fontanelles remodelling"
Originally reported on Google Code with ID 56

[code]

Reported by `dr.sebastian.koehler` on 2014-09-29 16:04:56

[2015-08-23 18:33] obophenotype-user opened #58 "Review decreased rate def"
Originally reported on Google Code with ID 57

[code]

Reported by `dr.sebastian.koehler` on 2014-09-29 16:26:03

[2015-08-23 18:33] #58 closed, assigned to obophenotype-user

[2015-08-23 18:33] obophenotype-user opened #59 "MP_0005264 glomerulosclerosis- logical definition uses an obsoleted class"
Originally reported on Google Code with ID 58

[code]

Reported by `vasilevs@ohsu.edu` on 2014-09-29 17:07:39

[2015-08-23 18:33] #59 closed, assigned to obophenotype-user

[2015-08-23 18:34] obophenotype-user opened #60 "How to logically define terms using 'anterior'?"
Originally reported on Google Code with ID 59

[code]

Reported by `vasilevs@ohsu.edu` on 2014-10-06 18:21:34

[2015-08-23 18:34] obophenotype-user opened #61 "Question about using 'has component' for abnormal tag"
Originally reported on Google Code with ID 60

[code]

Reported by `vasilevs@ohsu.edu` on 2014-11-07 19:48:45

[2015-08-23 18:34] #61 closed, assigned to obophenotype-user

[2015-08-23 18:34] obophenotype-user opened #62 "Inference from vasculature to nervous system"
Originally reported on Google Code with ID 61
[code]

Reported by `dr.sebastian.koehler` on 2014-11-08 12:51:25

<hr>
 * *Attachment: Screen Shot 2014-11-08 at 13.47.12.png<br>![Screen Shot 2014-11-08 at 13.47.12.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-61/comment-0/Screen Shot 2014-11-08 at 13.47.12.png)*

[2015-08-23 18:34] obophenotype-user opened #63 "Inference cholea -> face"
Originally reported on Google Code with ID 62
[code]

Reported by `dr.sebastian.koehler` on 2014-11-11 10:49:05

<hr>
 * *Attachment: Screen Shot 2014-11-11 at 11.45.34.png<br>![Screen Shot 2014-11-11 at 11.45.34.png](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-62/comment-0/Screen Shot 2014-11-11 at 11.45.34.png)*

[2015-08-23 18:34] obophenotype-user opened #64 "Create nesting for inheres in process automatically"
Originally reported on Google Code with ID 63
[code]

Reported by `vasilevs@ohsu.edu` on 2014-12-18 20:22:53

[2015-08-23 18:34] obophenotype-user opened #65 "new term Inflammatory_myofibroblastic_tumor"
Originally reported on Google Code with ID 64
[code]

Reported by `nicole.l.washington` on 2015-01-21 06:50:38

[2015-08-23 18:34] obophenotype-user opened #66 "FMA import fails"
Originally reported on Google Code with ID 65
[code]

Reported by `dr.sebastian.koehler` on 2015-01-27 10:31:37

[2015-08-23 18:34] obophenotype-user opened #67 "Add logical def for Gout using causal pattern"
Originally reported on Google Code with ID 66

[code]

Reported by `cmungall` on 2015-02-05 03:38:56

[2015-08-23 18:35] #67 closed, assigned to obophenotype-user

[2015-08-23 18:35] obophenotype-user opened #68 "MedDRA xrefs are misspelled"
Originally reported on Google Code with ID 67
[code]

Reported by `haendel@ohsu.edu` on 2015-02-06 13:56:37

[2015-08-23 18:35] obophenotype-user opened #69 "question about distal muscles"
Originally reported on Google Code with ID 68

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-09 21:57:44

[2015-08-23 18:35] obophenotype-user opened #70 "Add 'abnormal to all defs for MP"
Originally reported on Google Code with ID 69

[code]

Reported by `cmungall` on 2015-02-10 20:34:22

[2015-08-23 18:35] #70 closed, assigned to obophenotype-user

[2015-08-23 18:35] obophenotype-user opened #71 "Replace concentration, numberOf, number of processual parts RQs in MP"
Originally reported on Google Code with ID 70

[code]

Reported by `cmungall` on 2015-02-10 21:08:30

[2015-08-23 18:35] #71 closed, assigned to obophenotype-user

[2015-08-23 18:36] obophenotype-user opened #72 "Add abnormal to all for HP"
Originally reported on Google Code with ID 71

[code]

Reported by `cmungall` on 2015-02-10 23:05:44

[2015-08-23 18:36] #72 closed, assigned to obophenotype-user

[2015-08-23 18:36] obophenotype-user opened #73 "Replace concentration, numberOf, number of processual parts RQs in HP"
Originally reported on Google Code with ID 72

[code]

Reported by `cmungall` on 2015-02-11 00:38:48

[2015-08-23 18:36] #73 closed, assigned to obophenotype-user

[2015-08-23 18:36] obophenotype-user opened #74 "add images from wikimedia"
Originally reported on Google Code with ID 73

[code]

Reported by `haendel@ohsu.edu` on 2015-02-11 00:46:05

[2015-08-23 18:36] obophenotype-user opened #75 "New logical definition for MPATH anatomical entities and pathological anatomy"
Originally reported on Google Code with ID 74

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:20:52

[2015-08-23 18:37] obophenotype-user opened #76 "change ‘has component’ to ‘has qualifier’ (for ‘has component’ some abnormal’)"
Originally reported on Google Code with ID 75

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:21:25

[2015-08-23 18:37] #76 closed, assigned to obophenotype-user

[2015-08-23 18:37] obophenotype-user opened #77 "need new PATO release"
Originally reported on Google Code with ID 76
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:22:13

[2015-08-23 18:37] obophenotype-user opened #78 "Redo Equiv axioms for behavior terms"
Originally reported on Google Code with ID 77
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:23:32

[2015-08-23 18:37] obophenotype-user opened #79 "should remove MPATH inflammation in HP and replace with inflammatory response from GO"
Originally reported on Google Code with ID 78

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:25:39

[2015-08-23 18:37] #79 closed, assigned to obophenotype-user

[2015-08-23 18:38] obophenotype-user opened #80 "Would be nice to replace FMA imports with UBERON classes"
Originally reported on Google Code with ID 79

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:32:08

[2015-08-23 18:38] #80 closed, assigned to obophenotype-user

[2015-08-23 18:38] obophenotype-user opened #81 "clean up MP-edit directory, clean out stale axiom files"
Originally reported on Google Code with ID 80
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:43:57

[2015-08-23 18:38] obophenotype-user opened #82 "make sure all of the clinical modifiers (from HP) exist in PATO and add logical defs in HP to point to PATO"
Originally reported on Google Code with ID 81

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:45:30

[2015-08-23 18:38] obophenotype-user opened #83 "add defs to new craniofacial terms"
Originally reported on Google Code with ID 82
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:47:00

[2015-08-23 18:38] obophenotype-user opened #84 "Add Mark Engelstad to this group"
Originally reported on Google Code with ID 83

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:48:47

[2015-08-23 18:38] #84 closed, assigned to obophenotype-user

[2015-08-23 18:39] obophenotype-user opened #85 "how are we representing stenosis across the board?"
Originally reported on Google Code with ID 84
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 21:55:58

[2015-08-23 18:39] obophenotype-user opened #86 "question about adipose tissue amount"
Originally reported on Google Code with ID 85

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 22:02:47

[2015-08-23 18:39] obophenotype-user opened #87 "check hyperplasia terms in MP"
Originally reported on Google Code with ID 86
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 22:03:32

[2015-08-23 18:39] obophenotype-user opened #88 "Coordinate neoplasm logical def across MP and HP"
Originally reported on Google Code with ID 87
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 22:12:58

[2015-08-23 18:39] obophenotype-user opened #89 "New logical def for necrosis terms in MP/HP"
Originally reported on Google Code with ID 88

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 22:27:45

[2015-08-23 18:40] obophenotype-user opened #90 "change 'concentration of' patterns to count (which will be relabeled to amount)"
Originally reported on Google Code with ID 89

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 22:29:56

[2015-08-23 18:40] #90 closed, assigned to obophenotype-user

[2015-08-23 18:40] obophenotype-user opened #91 "Abnormal processes in MP have not all been transformed to use ‘inheres in part of’"
Originally reported on Google Code with ID 90

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 23:24:51

[2015-08-23 18:40] obophenotype-user opened #92 "Questions about staging"
Originally reported on Google Code with ID 91
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 23:31:24

[2015-08-23 18:41] obophenotype-user opened #93 "Need nesting for apoptosis terms in MP"
Originally reported on Google Code with ID 92
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-11 23:36:19

[2015-08-23 18:41] obophenotype-user opened #94 "Add patchy to 'patchy sclerosis' terms"
Originally reported on Google Code with ID 93

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 00:06:13

[2015-08-23 18:41] #94 closed, assigned to obophenotype-user

[2015-08-23 18:41] obophenotype-user opened #95 "revisit logical def for Skull defect in HP"
Originally reported on Google Code with ID 94
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 00:21:55

[2015-08-23 18:41] obophenotype-user opened #96 "decreased sensitivity of a process"
Originally reported on Google Code with ID 95

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 00:25:08

[2015-08-23 18:42] obophenotype-user opened #97 "Add Sue Bello to this group"
Originally reported on Google Code with ID 96

[code]

Reported by `cynthia.smith@jax.org` on 2015-02-12 16:52:54

[2015-08-23 18:42] #97 closed, assigned to obophenotype-user

[2015-08-23 18:42] obophenotype-user opened #98 "Need to decide on pattern for 'increased occurence'"
Originally reported on Google Code with ID 97
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 17:22:38

[2015-08-23 18:42] obophenotype-user opened #99 "new pattern for abnormal tumor incidence in MP"
Originally reported on Google Code with ID 98

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 18:47:55

[2015-08-23 18:43] #99 closed, assigned to obophenotype-user

[2015-08-23 18:43] obophenotype-user opened #100 "Abnormal morphology terms in HP"
Originally reported on Google Code with ID 99
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 19:34:24

[2015-08-23 18:43] obophenotype-user opened #101 "Neoplasms"
Originally reported on Google Code with ID 100

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-12 20:02:59

[2015-08-23 18:43] obophenotype-user opened #102 "Reconcile 'hepatic steatosis' and lipid accumulation in hepatocytes' branches"
Originally reported on Google Code with ID 101
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-13 00:20:52

[2015-08-23 18:43] obophenotype-user opened #103 "change label of tumor terms to be neoplasm"
Originally reported on Google Code with ID 102
[code]

Reported by `cynthia.smith@jax.org` on 2015-02-13 00:34:31

[2015-08-23 18:43] obophenotype-user opened #104 "clean up MP proliferation terms"
Originally reported on Google Code with ID 103
[code]

Reported by `cynthia.smith@jax.org` on 2015-02-13 00:36:17

[2015-08-23 18:44] obophenotype-user opened #105 "clean up MP cell migration terms"
Originally reported on Google Code with ID 104
[code]

Reported by `cynthia.smith@jax.org` on 2015-02-13 00:37:16

[2015-08-23 18:44] obophenotype-user opened #106 "Make sure X atresia terms are ldefined"
Originally reported on Google Code with ID 105
[code]

Reported by `cmungall` on 2015-02-19 16:31:41

[2015-08-23 18:44] obophenotype-user opened #107 "Reach agreement of Abnormality-of-X vs Abnormal morphology of X in HP"
Originally reported on Google Code with ID 106
[code]

Reported by `cmungall` on 2015-02-23 16:32:33

[2015-08-23 18:44] obophenotype-user opened #108 "Make Stenosis terms consistent"
Originally reported on Google Code with ID 107
[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-23 16:43:13

[2015-08-23 18:44] obophenotype-user opened #109 "Need to review 'Abnormal process in generalized location'"
Originally reported on Google Code with ID 108

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-25 21:40:53

[2015-08-23 18:44] #109 closed, assigned to obophenotype-user

[2015-08-23 18:45] obophenotype-user opened #110 "how to model 'missing process'?"
Originally reported on Google Code with ID 109

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-25 22:20:04

[2015-08-23 18:45] obophenotype-user opened #111 "how to model 'abnormal amount'?"
Originally reported on Google Code with ID 110

[code]

Reported by `vasilevs@ohsu.edu` on 2015-02-25 22:39:06

[2015-08-23 18:45] obophenotype-user opened #112 "'amount' vs 'has number of' patterns"
Originally reported on Google Code with ID 111

[code]

Reported by `brushm@ohsu.edu` on 2015-02-26 01:34:25

[2015-08-23 18:45] obophenotype-user opened #113 "term replaced by issues"
Originally reported on Google Code with ID 112
[code]

Reported by `haendel@ohsu.edu` on 2015-03-03 01:41:39

<hr>
 * *Attachment: [IAO_0100001_usage.txt](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-112/comment-0/IAO_0100001_usage.txt)*

[2015-08-23 18:45] obophenotype-user opened #114 "Need to review "generalized osteosclerosis" in HP and MP"
Originally reported on Google Code with ID 113
[code]

Reported by `vasilevs@ohsu.edu` on 2015-03-09 15:53:25

[2015-08-23 18:46] obophenotype-user opened #115 "albinism alignment"
Originally reported on Google Code with ID 114
[code]

Reported by `haendel@ohsu.edu` on 2015-03-25 16:41:44

[2015-08-23 18:46] obophenotype-user opened #116 "Need consistent pattern for Abnormality of X subclass typing"
Originally reported on Google Code with ID 115
[code]

Reported by `haendel@ohsu.edu` on 2015-04-06 15:34:52

[2015-08-23 18:46] obophenotype-user opened #117 "Question about bile duct proliferation"
Originally reported on Google Code with ID 116
[code]

Reported by `vasilevs@ohsu.edu` on 2015-04-06 15:52:38

[2015-08-23 18:46] obophenotype-user opened #118 "~3K missing sextuples in zp mappings"
Originally reported on Google Code with ID 117
[code]

Reported by `nicole.l.washington` on 2015-04-10 00:17:05

<hr>
 * *Attachment: [missing_sextuples_zfin_20150409.txt](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-117/comment-0/missing_sextuples_zfin_20150409.txt)*

[2015-08-23 18:46] obophenotype-user opened #119 "make report for self-referring equivalent class defs"
Originally reported on Google Code with ID 118

[code]

Reported by `haendel@ohsu.edu` on 2015-04-13 15:51:47

[2015-08-23 18:46] obophenotype-user opened #120 "Revisit logical def for: Generalized osteoporosis with pathologic fractures"
Originally reported on Google Code with ID 119
[code]

Reported by `vasilevs@ohsu.edu` on 2015-04-13 17:44:55

[2015-08-23 18:46] obophenotype-user opened #121 "Revisit logical def for: Generalized seizures"
Originally reported on Google Code with ID 120
[code]

Reported by `vasilevs@ohsu.edu` on 2015-04-13 17:48:37

[2015-08-23 18:47] obophenotype-user opened #122 "Review logical def for: Pelvic girdle amyotrophy HP_0008946"
Originally reported on Google Code with ID 121

[code]

Reported by `vasilevs@ohsu.edu` on 2015-04-13 17:59:14

[2015-08-23 18:47] obophenotype-user opened #123 "learning disabilities"
Originally reported on Google Code with ID 122

[code]

Reported by `haendel@ohsu.edu` on 2015-04-13 19:49:08

[2015-08-23 18:47] obophenotype-user opened #124 "Strabismus def"
Originally reported on Google Code with ID 123
[code]

Reported by `dr.sebastian.koehler` on 2015-04-14 12:30:49

[2015-08-23 18:47] obophenotype-user opened #125 "Remove file from svn?"
Originally reported on Google Code with ID 124

[code]

Reported by `dr.sebastian.koehler` on 2015-04-14 12:35:46

[2015-08-23 18:48] #125 closed, assigned to obophenotype-user

[2015-08-23 18:48] obophenotype-user opened #126 "vestibule misuse in MP"
Originally reported on Google Code with ID 125
[code]

Reported by `cmungall` on 2015-04-16 01:10:59

[2015-08-23 18:48] obophenotype-user opened #127 "Move MPATH axiom away from mp-edit"
Originally reported on Google Code with ID 126

[code]

Reported by `dr.sebastian.koehler` on 2015-04-20 15:16:34

[2015-08-23 18:48] #127 closed, assigned to obophenotype-user

[2015-08-23 18:48] obophenotype-user opened #128 "Axioms in mp-edit have to be removed"
Originally reported on Google Code with ID 127

[code]

Reported by `dr.sebastian.koehler` on 2015-04-20 15:17:48

[2015-08-23 18:49] #128 closed, assigned to obophenotype-user

[2015-08-23 18:49] obophenotype-user opened #129 "GO-import looks wrong"
Originally reported on Google Code with ID 128
[code]

Reported by `dr.sebastian.koehler` on 2015-04-20 15:32:14

[2015-08-23 18:49] obophenotype-user opened #130 "need to add MRI X brain region abnormalities"
Originally reported on Google Code with ID 129

[code]

Reported by `haendel@ohsu.edu` on 2015-04-21 19:12:48

[2015-08-23 18:49] obophenotype-user opened #131 "Hyperintensity of MRI T2 signal of the spinal cord"
Originally reported on Google Code with ID 130
[code]

Reported by `Joie6458` on 2015-04-24 16:43:47

[2015-08-23 18:49] obophenotype-user opened #132 "The patient phenotype of UDP2717 was expected to match the Arap3tm1.2Sve mouse phenotype in Exomiser"
Originally reported on Google Code with ID 131

[code]

Reported by `wpbone@smcm.edu` on 2015-04-25 18:51:26

<hr>
- _Attachment: [UDP_2717_HPO_expected_ARAP3_matches.csv](https://storage.googleapis.com/google-code-attachments/phenotype-ontologies/issue-131/comment-0/UDP_2717_HPO_expected_ARAP3_matches.csv)_
- _Attachment: [UDP_2717_NISC_2__REC_list3.exmz_ready.html_exmz_out.html](https://storage.

[2015-08-23 18:49] obophenotype-user opened #133 "Review text defs for Meningocele in MP and HP"
Originally reported on Google Code with ID 132
[code]

Reported by `vasilevs@ohsu.edu` on 2015-05-11 15:34:24

[2015-08-23 18:49] obophenotype-user opened #134 "cochlear outer hair cell electromotility"
Originally reported on Google Code with ID 133

[code]

Reported by `cynthia.smith@jax.org` on 2015-06-08 15:54:29

[2015-08-23 18:49] obophenotype-user opened #135 "HP antonyms"
Originally reported on Google Code with ID 134

[code]

Reported by `michel.dumontier` on 2015-06-08 16:34:36

[2015-08-23 18:49] obophenotype-user opened #136 "Misleading zebrafish phenotype labels"
Originally reported on Google Code with ID 135
[code]

Reported by `balhoff` on 2015-06-11 17:50:15

[2015-08-23 18:50] obophenotype-user opened #137 "Migrate this repo to github"
Originally reported on Google Code with ID 136
[code]

Reported by `cmungall` on 2015-07-03 21:15:46

[2015-08-23 18:50] obophenotype-user opened #138 "New term request : kinky hair"
Originally reported on Google Code with ID 137
[code]

Reported by `MarkEngelstad` on 2015-07-16 23:46:15

[2015-08-23 20:08] cmungall commented on #137
Done, using google take out and python github_issue_converter.py

[2015-08-27 20:47] drseb opened #139 "Ensure inference of P occurs abnormally in A -> subclass of A"
E.g.

    abnormal male germ cell apoptosis
    'has part' some
       (quality and
         ('inheres in part of' some
             ('apoptotic process' and ('occurs in' some 'male germ cell')))
                 and ('has modifier' some abnormal))

should be inferred as an abnormality of the male germ cell, not of apoptotic process.
this should work for
 - lacking processual parts
 - increased ra

[2015-08-27 21:00] cmungall commented on #139
Rough sketch of solution:

introduce a very general relation (or use existing 'has phenotype involving')

make property chains such that inheres-in followed by any sequence of part-of and occurs-in composes to this

Use this very general relation when defining very general phenotypes, e.g. 'Abnormality of <anatomic entity>' (this is more common in HPO - need to analyze MP a bit more, e.g. the 'abn

[2015-09-05 22:08] nlwashington opened #140 "add VT"
please incorporate VT terms.

[2015-09-09 22:33] cmungall opened #141 "No eyes?"
We're missing FBbt phenotypes - we have the FBcvs

[2015-09-09 22:36] #141 closed

[2015-09-09 23:28] nlwashington opened #142 "update purl for vt"
http://purl.obolibrary.org/obo/vt.owl and vt.obo still pull from the old googlecode site.  this needs to be updated.

[2015-09-09 23:29] nlwashington commented on #140
accurate performance will depends on #142

[2015-09-09 23:30] nlwashington commented on #140
also should port code from old googlecode site makefile:
https://code.google.com/p/phenotype-ontologies/source/browse/trunk/src/ontology/vt/Makefile

[2015-09-19 19:21] cmungall opened #144 "Create design patterns for behavior, design on how to use NBO"
See also #78

Example of an issue:

[code]

Note also the nbo_phenotype grouping classes has `NBO:0000266PHENOTYPE ! cognitive behavior phenotype phenotype` due to the assumption that all elemental ontology can be combined with qualities

[2015-09-19 20:02] cmungall commented on #144
First we should do an analysis on how much integration between MP/HP (and ZP?) NBO buys us. Do a reasoner-diff with and without NBO axioms, and/or with NBO axioms but no NBO import chain. I suspect the text-mined associations between MP and HP would still keep a fair amount of glue but this is unsatisfactory, we'd like axiomatization

[2015-09-21 15:08] cmungall opened #145 "Create design patterns for neoplasm/cancer related terms"
See @drseb's question here: https://github.com/obophenotype/human-phenotype-ontology/issues/473#issuecomment-142003070

Briefly:

 * MP cancer terms typically refer to disposition
 * HP cancer terms refer to an actual material object and or process in a patient (although there are 2 related syns that pertain to disposition)

We would like to use NCIt. How? Need to be careful of ontological commitm

[2015-09-21 16:20] lschriml commented on #145
Why not use Disease Ontology for cancer terms ?

On Mon, Sep 21, 2015 at 11:08 AM, Chris Mungall <notifications@github.com>
wrote:

[2015-09-21 16:25] pnrobinson commented on #145
Suggest: We should reference the disease entities to DO and the phenotypic feature (the actual tumour) to HP and we need to decide what semantics the NCI terms have, i.e., are they closer to HP (finding) or are they closer to DO (disease).
-Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
A

[2015-09-21 16:30] lschriml commented on #145
If it is helpful, DO also contains tumor terms, our terms are aligned to
NCIt terms.

Cheers,
Lynn

On Mon, Sep 21, 2015 at 12:25 PM, Peter Robinson <notifications@github.com>
wrote:

[2015-09-21 16:31] mellybelly commented on #145
NCIT is the authority here, prefer to get what we need there and all the rest of us pull from there?

[2015-09-21 16:53] pnrobinson commented on #145
Yes, we need a strategy to (1) migrate and (2) rescue old annotations and maybe (3) wrap the terms in xrefs so as to make downstream software insulated from changes etc

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 0160 937698

[2015-09-21 17:37] cmungall commented on #145
NCIt classes are axiomatized, links back to cells, anatomy etc (which we
would rewire to uberon/cl)

I had also assumed that NCIt more complete for cancer. What is the long
term plan for integration?

On 21 Sep 2015, at 9:20, lschriml wrote:

[2015-09-21 17:55] lschriml commented on #145
DO is working directly with NCIt, to integrate their terms which are not
yet in DO.
We are working on a set of ~300 terms identified by NCI as potentially
novel for DO.

On Mon, Sep 21, 2015 at 1:37 PM, Chris Mungall <notifications@github.com>
wrote:

[2015-10-02 03:01] cmungall opened #146 "Add a style check for double inhere in"
From:
https://github.com/obophenotype/mammalian-phenotype-ontology/issues/2113

in general we should have a check for

    inheres-in some X and inheres-in some Y

Whilst not inherently (ho ho) wrong, it's a bad smell pattern

[2015-10-02 03:07] cmungall opened #147 "Remake uberon imports"
Imports is from an old v of uberon, where medial pterygoid was erroneously a subclass of lateral ptyergoid (due to an inference from attachment relationships)

This causes conflict when combined with latest uberon, due to disjointness axiom between the two

Fixed in latest uberon

cc @hdietze @kltm

[2015-10-02 06:57] kltm commented on #147
Is there a further pipeline lag here? A GOlr load started just before midnight still failed with:
[code]

[2015-10-02 14:58] cmungall commented on #147
Same error as before?

try now

[2015-10-02 18:00] kltm commented on #147
Better. Now fails with:
[code]

[2015-10-02 20:34] kltm commented on #147
From an email thread with @hdietze, will there be CI checks for the ontologies before they get into the pipelines? What tracker should that issue live on? Also, what is the expected turnaround time on these errors and can old working versions be rolled back to?

[2015-10-02 23:21] cmungall commented on #147
try now @kltm

[2015-10-02 23:21] cmungall commented on #147
oh wait.... you'll have to wait til next MP release

[2015-10-02 23:24] kltm commented on #147
When's that going to be? [fingers crossed]

[2015-10-02 23:55] kltm commented on #147
Can confirm that the "--remove-disjoints" workaround has gotten us loading again.

[2015-10-06 16:02] cmungall opened #148 "Check obo format translation of all phenotype ontologies"
E.g. current translation, obo writer warns:

[code]

This is a non-fatal warning as it is valid syntax. But clearly unintentional.

Mistakes like this will always happen if we use the raw protege annotations editor

[2015-10-06 16:05] cmungall commented on #148
Another one:

[code]

[2015-10-16 00:41] cmungall opened #149 "Add pipeline check for inferred equivalent classes within an ontology"
See for example
https://github.com/obophenotype/human-phenotype-ontology/issues/522

Oort should already produce this report. Investigate options for making this more promiment

[2015-10-28 23:27] nlwashington opened #150 "add linkages to bridge traits as phenotypes"
We need to ensure that all traits (from OBA and/or VT) can be reasoned to be subclasses of UPHENO:0001001.  This may require a new subclass axiom.

This may be related to #140 and #142.

As suggested by @cmungall, it may be more appropriate to bring in [OBA](https://github.com/obophenotype/bio-attribute-ontology) to get at VT.

[2015-10-29 00:38] nlwashington opened #151 "add EFO traits/phenotypes"
we need to be able to use the EFO traits/phenotypes.

for example coming from measurements: http://www.ebi.ac.uk/efo/EFO_0004611
or 'abnormality of the cardiovascular system': http://www.ebi.ac.uk/efo/EFO_0003966

[2015-10-29 09:00] drseb commented on #151
looking at *abnormality of the cardiovascular system*, I find in the obo-version of EFO this entry.

    [Term]
    id: HP:0001626
    name: abnormality of the cardiovascular system
    def: "Any abnormality of the `cardiovascular system` (FMA:7161)." []
    synonym: "abnormal phenotype of the cardiovascular system" EXACT []
    synonym: "Cardiovascular Abnormalities" EXACT []
    property_value:

[2015-10-29 13:59] drseb commented on #110
@cmungall

@cindyJax and I are in favour of 'lacking processual parts' instead of 'absent'. Please comment if we might make a mistake...

[2015-10-29 15:04] cmungall commented on #151
http://www.ebi.ac.uk/efo/EFO_0003966 appears to be eye disease, not abnormality of the cardiovascular system

So I think the request is to make sure the measurement hierarchy lines up, e.g. http://www.ebi.ac.uk/efo/EFO_0004611

[2015-10-29 17:17] drseb commented on #145
Please note that every *Neoplasm* in NCIT is a subclass of *Disease or Disorder*, which is problematic for HP/MP.

[2015-11-10 23:30] nlwashington opened #152 "organization of integumentary system"
when i look here, there’s lots of things that are direct parts of the integument here:
http://beta.monarchinitiative.org/phenotype/UBERON:0002416PHENOTYPE

including things like, "Abnormal(ly) Increased Process Quality Caudal Fin Apoptotic Process", or "Abnormal(ly) Morphology Caudal Fin Skeleton", which just seems wrong.  what is integumentary about that?  a fin is a segment/appendage, is it not?

[2015-11-17 12:04] drseb opened #153 "Vertebrate.owl classes"
Hi,

is it correct that the following OWL-classes are declared in [vertebrate.owl](https://github.com/obophenotype/upheno/blob/master/vertebrate.owl) ? What's the purpose of these? @nicolevasilevsky @cmungall

    <owl:Class rdf:about="&obo;UPHENO_0000501">
        <rdfs:label>accelerated feather growth</rdfs:label>
    </owl:Class>

    <owl:Class rdf:about="&obo;UPHENO_0000502">
        <rdfs:la

[2015-11-17 16:20] nicolevasilevsky commented on #153
these are for some curation I did for Monarch, of organisms from OMIA. @nlwashington can comment further.

[2015-11-17 16:35] drseb commented on #153
I am asking because they don't seem to have super or sub-classes in vertebrate.owl and also no equivalence-class axioms...

[2015-11-17 20:12] nicolevasilevsky commented on #153
Honestly, I am not very familiar with vertebrate.owl, I just used term genie per @nlwashington's suggestion. @cmungall and @nlwashington- could you comment on this?
Thank you!

[2015-11-18 16:33] drseb opened #154 "purl map"
The purl http://purl.obolibrary.org/obo/upheno/ gives

    400: Invalid request

[2015-11-26 09:34] #154 closed

[2015-11-26 10:55] drseb opened #155 "Imports for ZP"
A lot ZFA-classes cannot be imported through UBERON (e.g. *ZFA_0005775*). This causes problems [with inferences of ZP-classes](https://github.com/monarch-initiative/monarch-app/issues/777). We will need [*zfa.owl*](http://purl.obolibrary.org/obo/zfa.owl) somewhere in the import chain. As an example, we will need this because in *zfa.owl*, *ZFA_0005775* is **subclass_of** *ZFA_0009059* and *ZFA_000

[2015-11-27 21:02] cmungall opened #156 "Are broad phalanges alays short phalanges?"
HP includes the assertion that

[code]

When using direct q-in-e owl definitions (recall this leads to the asserted hierarchy "infecting" multiple other inferences) we get lots of inferences like the following:

<img width="1168" alt="screen shot 2015-11-27 at 12 58 49 pm" src="https://cloud.githubusercontent.com/assets/50745/11448100/a175b466-9506-11e5-9465-25c676be00ce.png">

note that we don't

[2015-11-27 21:07] cmungall commented on #156
Here is another fun inference:

<img width="1378" alt="screen shot 2015-11-27 at 1 06 43 pm" src="https://cloud.githubusercontent.com/assets/50745/11448172/bb2b7caa-9507-11e5-8d14-38f852ddd8f6.png">

The poisonous axiom is reported here:
https://github.com/obophenotype/human-phenotype-ontology/issues/558

[2015-11-29 10:36] #156 closed

[2016-03-16 13:02] #155 closed

[2016-03-16 13:08] drseb opened #158 "uberon import missing axioms"
uberon_import.owl is missing axioms. for example the lumen-related axioms (see https://github.com/obophenotype/uberon/issues/1203)

is it intentional that axioms are missing? can we change that? how?

this would be required to test if we can state in HP/MP that the fact that a *thing* located in some *lumen* implies that said *thing* is part of the *wall that surrounds the lumen*.

Example of miss

[2016-03-16 13:09] #3 closed

[2016-03-16 13:51] drseb commented on #8
were merged somewhen

[2016-03-16 13:51] #8 closed

[2016-03-16 13:51] #7 closed

[2016-03-16 13:53] drseb commented on #5
I think we have complete ZFA now

[2016-03-16 13:53] #5 closed

[2016-03-16 13:59] drseb commented on #142
looks good at https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/vt.yml

[2016-03-16 13:59] #142 closed

[2016-03-16 14:00] drseb commented on #12
chris can you add this? if not please close this issue.

[2016-03-16 14:08] drseb commented on #9
Looking at mammal.owl this seems to work for me. I.e.

*dilated heart left ventricle* subclass of *abnormal heart left ventricle morphology*
and
*abnormal heart left ventricle morphology* subclass of *Abnormality of the left ventricle*

reopen if you think this is still an issue.

[2016-03-16 14:08] #9 closed

[2016-03-16 14:10] #13 closed

[2016-03-16 14:12] drseb commented on #100
looking good

[2016-03-16 14:12] #100 closed

[2016-03-16 14:12] #114 closed

[2016-03-16 14:12] #121 closed

[2016-03-16 14:12] #147 closed

[2016-03-16 15:53] cmungall commented on #158
We only bring in a subset of ObjectProperties for the uberon import.

The more we bring in, the larger the module becomes, due to the syntactic locality module extraction algorithm (which essentially is the set of all reachable nodes).

Currently, bringing in located_in would have no effect since it is weaker than part-of, and the phenotype axioms don't explicitly mention it.

This wouldn't be a v

[2016-03-16 16:17] drseb commented on #158
ok. we'll play around by bringing in uberon.owl. thanks

[2016-03-16 16:17] #158 closed

[2016-03-16 16:28] cmungall commented on #12
Looks like this was done a while ago; annotated with `source="textmatch"`

[2016-03-16 16:28] #12 closed

[2016-03-17 15:23] drseb commented on #46
we use *has modifier*. so closing

[2016-03-17 15:23] #46 closed

[2016-03-17 15:25] drseb commented on #47
these seem to have changed to

[code]

so closing

[2016-03-17 15:25] #47 closed

[2016-03-17 15:26] drseb commented on #50
not a big issue and not an easy solution so far. so closing

[2016-03-17 15:26] #50 closed

[2016-03-17 15:27] drseb commented on #45
no anon classes in hp an mp anymore. so closing

[2016-03-17 15:27] #45 closed

[2016-03-17 15:28] drseb commented on #49
I think the zp-generation is correct now. please reopen if issue is not resolved

[2016-03-17 15:28] #49 closed

[2016-03-17 15:33] drseb commented on #33
I think this has been corrected by using UBERON_0008341

[2016-03-17 15:33] #33 closed

[2016-03-17 15:42] drseb commented on #23
thanks @nlwashington !!

converted them to negative annotations. see https://github.com/monarch-initiative/hpo-annotation-data/commit/3ef67738c551a7fbbc8e41cfacc61d9d94dd4590

[2016-03-17 15:42] #23 closed

[2016-03-17 15:44] drseb commented on #44
just closing. please make a new ticket for the current status of inferred equivalences!

[2016-03-17 15:44] #44 closed

[2016-03-17 15:45] drseb commented on #22
I think this issue belongs somewhere else @mellybelly

dipper?

[2016-03-17 15:45] #22 closed

[2016-03-17 16:07] drseb commented on #28
these are grouped under *camera-type eye phenotype* in vertebrate.owl

so closing

[2016-03-17 16:07] #28 closed

[2016-03-17 16:08] drseb commented on #124
looks good in HP

[2016-03-17 16:08] #124 closed

[2016-03-17 16:08] drseb commented on #31
FMA is not used in HP anymore

[2016-03-17 16:08] #31 closed

[2016-03-17 16:12] drseb commented on #81
not sure what this is about. please re-open if still an issue

[2016-03-17 16:12] #81 closed

[2016-03-17 16:13] drseb commented on #83
I see logical def for these in MP

[2016-03-17 16:13] #83 closed

[2016-03-17 16:15] drseb commented on #113
assuming this is dealt with in owlapi now. reopen if not

[2016-03-17 16:15] #113 closed

[2016-03-17 16:15] drseb commented on #129
assuming this is intended behaviour as go uses CL for their defs

[2016-03-17 16:15] #129 closed

[2016-03-17 16:16] drseb commented on #92
we removed this def as "death" is obsoleted by GO now.

[2016-03-17 16:16] #92 closed

[2016-03-17 17:42] drseb commented on #118
I hope I have dealt with these issues. See https://github.com/sba1/bio-ontology-zp/issues?q=is%3Aissue+is%3Aclosed

[2016-03-17 17:42] #118 closed

[2016-03-17 17:43] drseb commented on #20
guess this is done in dipper. please reopen if snomed is still something we want to work on

[2016-03-17 17:43] #20 closed

[2016-03-17 17:46] drseb commented on #78
not sure what is gained by using present vs quality?  every individual has a fear-related behavior (this is normal). in hp we want to state that this behavior is abnormal.

closing now. please reopen if this really an issue. @nicolevasilevsky @cmungall

[2016-03-17 17:46] #78 closed

[2016-03-17 17:47] drseb commented on #126
is there a corresponding uberon-ticket for this? has this been revised in uberon already?

[2016-03-17 17:49] drseb commented on #68
I have fixed that some time ago

[2016-03-17 17:49] #68 closed

[2016-03-17 17:50] drseb commented on #66
we don't import fma anymore

[2016-03-17 17:50] #66 closed

[2016-03-17 17:51] drseb commented on #53
I think all phenotype classes make use of PATO:abnormal

[2016-03-17 17:51] #53 closed

[2016-03-17 17:59] drseb commented on #54
not sure this is still an issue. I think we have decided on strategy a long time ago. please re-open if it is still an open question

[2016-03-17 17:59] #54 closed

[2016-03-17 18:07] drseb commented on #56
we have decided on a new standard together with orphanet. will put that on hpo-website soon:

https://github.com/Human-Phenotype-Ontology/Human-Phenotype-Ontology.github.io/issues/2

[2016-03-17 18:07] #56 closed

[2016-03-17 18:10] drseb commented on #138
is a synonym of HP_0002224

[2016-03-17 18:10] #138 closed

[2016-03-17 18:12] drseb commented on #65
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/789

[2016-03-17 18:12] #65 closed

[2016-03-17 18:15] drseb commented on #136
moved to https://github.com/sba1/bio-ontology-zp/issues/14

[2016-03-17 18:15] #136 closed

[2016-03-17 18:15] drseb commented on #137
thanks for doing this!

[2016-03-17 18:15] #137 closed

[2016-03-17 20:18] drseb commented on #133
both mp and hp currently have no logical defs for meningocele. so closing

[2016-03-17 20:18] #133 closed

[2016-03-17 20:20] drseb commented on #2
I guess this can be closed. does not seem to be easy to define

ping: @cindyJax  (maybe add to mp-tracker?)

[2016-03-17 20:20] #2 closed

[2016-03-17 20:29] drseb commented on #112
@mbrush what did you decide on this for the glycan project?

I see that HP and HP use the 'has number of' branch for less than 50 classes each. So this could be fixed easily

[2016-03-17 20:29] #63 closed

[2016-03-17 20:37] drseb commented on #32
I think termgenie is running for MP

[2016-03-17 20:37] #32 closed

[2016-03-17 20:38] drseb commented on #116
I think this is way better now.

[2016-03-17 20:38] #116 closed

[2016-03-17 20:40] drseb commented on #117
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/790

[2016-03-17 20:40] #117 closed

[2016-03-17 20:46] drseb commented on #26
in hp *Abnormality of the substantia nigra* is defined as
[code]

so I guess this is working now. Please reopen if not

[2016-03-17 20:46] #26 closed

[2016-03-17 20:48] drseb commented on #27
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/791

[2016-03-17 20:48] #27 closed

[2016-03-17 20:49] drseb commented on #29
I think we have corrected this in the logical defintions

[2016-03-17 20:49] #29 closed

[2016-03-17 21:01] drseb commented on #30
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/792

[2016-03-17 21:01] #30 closed

[2016-03-17 21:02] drseb commented on #38
this will take while till fixed :-(

[2016-03-17 21:03] drseb commented on #52
If I understand correctly, then this is fixed in hp and mp. right?

[2016-03-17 21:03] #52 closed

[2016-03-17 21:05] #55 closed

[2016-03-17 21:05] drseb commented on #57
not sure I understand my own task here...

[2016-03-17 21:07] drseb commented on #60
@cmungall can you comment?

[2016-03-17 21:08] #62 closed

[2016-03-17 21:09] drseb commented on #64
I think I fixed that a while ago. Right @nicolevasilevsky

[2016-03-17 21:09] #64 closed

[2016-03-17 21:14] drseb commented on #77
I assume this has been done.

[2016-03-17 21:14] #77 closed

[2016-03-17 21:16] drseb commented on #85
use pato:constricted

[2016-03-17 21:16] #85 closed

[2016-03-17 21:19] drseb commented on #86
@nicolevasilevsky Is this done? Can be closed?

[2016-03-17 21:26] drseb commented on #88
I think there was a decision when @cindyJax and I met. Closing and making a ticket here: https://github.com/obophenotype/mammalian-phenotype-ontology/issues/2156

[2016-03-17 21:26] #88 closed

[2016-03-17 21:45] nicolevasilevsky commented on #86
No, looks like the labels still say 'adipose tissue amount' in MP. @cindyJax, do you mind if i edit MP or would you like me to reassign to you?

[2016-03-17 21:48] nicolevasilevsky commented on #87
I can fix the logical defs in HP for the hyperplastic cell terms. What should the primary labels be though?

[2016-03-17 21:51] nicolevasilevsky commented on #87
HP_0010791
HP_0012132
HP_0012138

Noting these three cellular hyperplasia terms in HP for my reference

[2016-03-17 21:55] cmungall commented on #60
OK, a lot to unpack here.

First some asides: Just because the HPO terms says "scalloped" it doesn't mean PATO:scalloped is the right term to use here.

The PATO term means that it looks like this:

![img](http://www.freevectors.net/files/large/ScallopShell.jpg)

We want 'concave here'

Additionally the 3 relevant HPO classes should have complete synonyms attached:

[code]

Even PATO:concave is co

[2016-03-17 21:56] nicolevasilevsky commented on #87
MP_0010373
MP_0002776
MP_0011427
MP_0011301
MP_0008298
MP_0009537
MP_0005489

Noting the cellular hyperplasia terms in MP for my reference. @cindyJax, is it okay with you if I update these logical defs?

[2016-03-17 21:57] cmungall commented on #60
Before even tackling this one we need a natural language def:

[code]

You assume anterior means along the A/P axis, which I would too, thinking of HOX genes etc. But is this really what it means? We should check. A/P terminology can be misleading.

[2016-03-17 22:20] #126 closed

[2016-03-17 22:27] cmungall commented on #25
Can I punt on this til we have the patterns in yaml?

[2016-03-17 22:29] cmungall commented on #69
Seems so

see

[!][img](https://www.mda.org/sites/default/files/Overview-body_distalMD.jpg)

From https://www.mda.org/disease/distal-muscular-dystrophy

[2016-03-18 08:20] drseb commented on #93
this is still an issue in MP!!! (why?) (e.g. abnormal ovary apoptosis) at some point I fixed these automagically in HP. will search for script.

ping @cindyJax

[2016-03-18 08:27] drseb commented on #95
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/793

[2016-03-18 08:27] #95 closed

[2016-03-18 08:32] drseb commented on #98
a quick check in HP and MP - seems resolved

[2016-03-18 08:32] #98 closed

[2016-03-18 08:33] drseb commented on #101
in progress

[2016-03-18 08:38] drseb commented on #102
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/794

[2016-03-18 08:38] #102 closed

[2016-03-18 09:42] drseb commented on #103
not sure we should move this to MP tracker!?

[2016-03-18 09:45] drseb commented on #104
looking through MP I see that these MP terms (or corresponding MP terms) have logical definitions now. so closing

[2016-03-18 09:45] #104 closed

[2016-03-18 09:46] drseb commented on #105
I think MP has done this

[2016-03-18 09:46] #105 closed

[2016-03-18 09:48] drseb commented on #106
looking in HP and MP, it seems that the classes use PATO:atretic consistently

[2016-03-18 09:48] #106 closed

[2016-03-18 09:51] drseb commented on #107
no really sure, but guessing this can be closed. please reopen if wrong

ping @cmungall

[2016-03-18 09:51] #107 closed

[2016-03-18 09:54] drseb commented on #108
quick check in HP/MP. looks good. please reopen if there are still problems

[2016-03-18 09:54] #108 closed

[2016-03-18 10:02] drseb commented on #111
@nicolevasilevsky is there any news on this? have we decided and implemented?

[2016-03-18 10:03] drseb commented on #119
assigning @cmungall because he owns the jenkins.

[2016-03-18 10:34] drseb commented on #120
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/795

[2016-03-18 10:34] #120 closed

[2016-03-18 11:28] drseb commented on #131
moved to https://github.com/obophenotype/human-phenotype-ontology/issues/796

[2016-03-18 11:28] #131 closed

[2016-03-18 11:29] drseb commented on #132
this should be tested with phenogrid again.

[2016-03-18 11:31] drseb commented on #134
@cindyJax whats the status of this?

[2016-03-18 11:32] drseb commented on #134
logical def currently looks like this:

[code]

[2016-03-18 11:35] drseb commented on #135
@micheldumontier

can we have this list? I could import them to HP. should we use https://www.w3.org/TR/owl2-syntax/#Symmetric_Object_Properties ?

ping @cmungall

[2016-03-18 11:57] drseb commented on #140
vt is in import-chain. I guess it is ok to close this issue then

[2016-03-18 11:57] #140 closed

[2016-03-18 11:59] drseb commented on #145
this is slowly progressing. @cmungall @mellybelly  do we have someone actively working on this?

[2016-03-18 12:12] drseb commented on #151
I don't really understand this ticket. @cmungall can you comment?

[2016-03-18 12:16] drseb commented on #153
@mellybelly @cmungall

are these classes used for annotation somewhere? otherwise I suggest to remove them from vertebrate.owl

[2016-03-18 15:22] nlwashington commented on #153
They're used for some bird disease to phenotype curation of OMIA. and really should be properly/logically defined. Would be great to have them.

[2016-03-18 15:39] drseb commented on #153
ok thanks! we'll leave the classes there and probably add a comment. closing issue

[2016-03-18 15:39] #153 closed

[2016-03-18 15:52] cmungall commented on #151
I think it's just adding equivalence axioms

[2016-03-18 16:29] cindyJax commented on #87
Done for MP

[2016-03-18 16:29] cindyJax commented on #87
add hp and reopen

[2016-03-18 16:31] cindyJax commented on #93
I thought we had already fixed these. Will check.

[2016-03-18 16:49] drseb commented on #87
thanks cindy. will check in HP

[2016-03-18 16:50] drseb commented on #93
I thought so too! But it is not in mp-edit. Not sure what happened

[2016-03-18 16:51] drseb commented on #151
adding EQs to what? HP?

[2016-03-18 17:02] micheldumontier commented on #135
Hi!  Let me commit my code and the output file. where should it go?

[2016-03-18 17:05] cindyJax commented on #93
Looks like increased and decreased apoptosis terms were converted but not abnormal.  Fixing now.

[2016-03-18 17:30] cindyJax commented on #93
Also found a lot of messed up EQs:
'has part' some
    ('increased rate'
     and (('inheres in' some
        ('apoptotic process'
         and ('occurs in' some 'fetal cardiomyocyte')))
     and ('has modifier' some abnormal))
     and ('has modifier' some abnormal))
Fixing.

[2016-03-18 18:06] cmungall commented on #151
Not necessarily EQ pattern, but these would be in a bridge ontology and define EFOs

[2016-03-18 18:26] drseb commented on #151
I see. I think I'll assign you, but let me know if I can/should do something concrete

[2016-03-18 19:21] cindyJax commented on #93
Very messy.  I think the "increased" script was accidentally run twice.  It's all cleaned up now.

[2016-03-18 19:21] #93 closed

[2016-03-18 19:58] cindyJax commented on #103
Moved to MP tracker

[2016-03-18 19:58] #103 closed

[2016-03-18 20:01] cindyJax commented on #134
PMID:2187727

[2016-03-18 20:09] cindyJax commented on #134
NTR: cochlear outer hair cell electromotility https://github.com/geneontology/go-ontology/issues/12353

[2016-03-19 00:17] cindyJax commented on #86
Probably makes the most sense to change 'amount' to 'volume' but I need to check annotations

[2016-03-19 07:54] drseb commented on #6
- [ ] check if this is still happening in ZP
- [ ] discuss with @cindyJax about aligning the logical definitions

[2016-03-19 15:01] cindyJax commented on #91
Okay, how do you distinguish GO process terms from GO cellular component in a script?

[2016-03-19 15:10] cindyJax commented on #115
There is no exact MP equivalent for the HP 'Albinism' term. There are three independent terms that are comopnents of this disease in MP.  I had separated these because ocular albinism can exist without the other features, for example.  Interesting...

[2016-03-20 15:53] drseb commented on #115
After discussion with @cindyJax we agree that at the moment this is the best we can get.

[2016-03-20 15:53] #115 closed

[2016-03-20 16:06] drseb commented on #91
maybe via a DL-query in protege:

for all phenotype classes with biological process execute (with 'subclasses' checked):

[code]

maybe @cmungall knows a better solution!?

[2016-03-20 16:59] cindyJax commented on #91
That wasn't working for a lot of reasons....
at least I picked up most of the apoptosis terms that I thought I would convert this way (still at 'inheres in')

[2016-03-21 09:22] drseb commented on #135
I created a repo here: https://github.com/Human-Phenotype-Ontology/HPO-antonyms

Can you commit there?

[2016-03-24 00:56] micheldumontier commented on #135
Can you add me as a member?

[2016-03-24 06:04] drseb commented on #135
should work now.

[2016-04-12 16:13] mbrush commented on #112
@drseb - we haven't got around to creating logical definitions for  MGPO yet, but we will soon.  Will let you know what we decide and what works for us.  But is suspect the pattern [2]  will suffice, and is what it seems HP and MP are moving toward.

[2016-06-14 22:39] cmungall opened #159 "Bad NBO purls are causing failures downstream"
[code]

These are particularly problematic, as it seems that when we save to ttl using the owlapi, using the generic obo => http://purl.obolibrary.org/obo/ prefix, we end up with ttl that uses `obo:nbo.owl/NBO_0002379` as the URIref, which can't be re-parsed.

cc @kshefchek

[2016-06-14 23:00] #159 closed

[2016-07-12 19:06] cmungall opened #160 "incorrect inference for WBPhenotype:0001524 ! quiescence variant"
shows as a telogen phenotype
https://monarchinitiative.org/phenotype/WBPhenotype:0001524

technically, during telogen the hair is resting or 'quiescent' but zero a priori reason to believe these are connected

cc @mellybelly

[2016-07-12 19:10] #160 closed

[2016-07-15 20:10] cmungall opened #161 "Upgrade WBPhenotype axiomatization"
This is out of date, leaves out e.g. commissure phenotype cc @mellybelly

[2016-07-22 01:00] cmungall opened #162 "Make a simple mp-hp merged file, primarily for IMPC"
This should combine HP and MP, using both lexical and logically inferred relationships.

TBD: should equivalence cliques be merged (MP as primary), or left distinct, with equivalence axioms connecting?

[2016-07-22 01:01] jmcmurry commented on #162
"Other phenotype" should be omitted from this merge, please

[2016-07-22 01:04] cmungall commented on #162
Was attempt to use robot for the inference step, but blocked on this: https://github.com/ontodev/robot/issues/91

Switching to owltools for now

[2016-07-22 15:25] cmungall commented on #162
Here is a screenshot of mp-hp-view.owl in Protege. Although the hierarchy is pre-inferred, it benefits from using the inferred hierarchy so equivalence pairs are grouped into Nodes:

<img width="1142" alt="screen shot 2016-07-22 at 8 23 46 am" src="https://cloud.githubusercontent.com/assets/50745/17061935/ad371bb0-4fe5-11e6-850d-72dbb7d1ea26.png">

[2016-07-22 18:16] mellybelly opened #163 "tracking zebrafish phenotypes for Facebase"
Putting this ticket here for now.

abnormal bone ossification; craniosynostosis; abnormal craniofacial bone morphology;abnormal cranial suture morphology; abnormal neurocranium morphology; midface hypoplasia; abnormal head shape; abnormal facial morphology

@mellybelly pls create EQs for these using ZFA and PATO, will do shortly

[2016-07-22 18:33] mbrush opened #164 "Feedback needed on MGPO development"
Sharing progress on molecular glyco-phenotype (MGPO) modeling for feedback from the group. @cmungall, @drseb, @balhoff, @mellybelly, @jpgourdine

The **spreadsheet** [**here**](https://github.com/monarch-initiative/glyco-phenotype-ontology/blob/master/docs/MGPO%20Logical%20Definitions.xlsx) shows a matrix where the rows define five primary characteristics identified as key high-level features of g

[2016-07-22 20:21] cmungall commented on #164
I think you will want at least some level of pre-comp. It would be cheap to try the experiment using DOSDPs.

Take a look at
https://github.com/cmungall/environmental-conditions/

and the READMEs in:

https://github.com/cmungall/environmental-conditions/tree/master/src/patterns
https://github.com/cmungall/environmental-conditions/tree/master/src/ontology/modules

The system is very unix-like at th

[2016-07-26 06:53] drseb commented on #164
This is exactly what we have discussed before @cindyJax ( @sbello ) and I think that in most cases in HP and MP we should clearly state that we refer to the _physical outcomes of processes_ , since we often don't monitor one process itself, but the result of multiple processes, whereby one (or multiple) are abnormal.

We should then have extra axioms that connect abnormal physical outcomes to prob

[2016-07-26 09:53] pnrobinson commented on #164
Hi everybody,
I think it is important that the phenotype ontologies do not encode pathophysiology (there are a very few exceptions to this in the HPO where MDs use a pathophysiological phrase to describe some phenotypic feature). We will need to encode pathophysiology elsewhere -- and would not be able to connect this with phenotypes if we have includeed pathophysiology in the HPO (multiple pathop

[2016-07-26 22:21] cmungall commented on #164
Are we truly all on board with this? I think there would have to be a fair amount of refactoring and merging in MP (X-development and X-morphology). There are also the other ontologies - ZFIN uses GO BPs a lot. WBPhenotypes are (on the surface at least) often process oriented - look at all the egg laying phenotypes. Also, I assume behavioral phenotypes would remain (it would be hard to recast thes

[2016-07-27 06:14] pnrobinson commented on #164
For the most part, I do not think that the logical definitions make that many pathophysiological assumptions. In some cases we are measuring the processes directly. There is a grey zone with the "level of X" in blood, where in some cases, we are using "X metabolism" from GO -- I think this is acceptable.
What I mean is, if a patient is presenting with a heart attack, they should be treated obvious

[2016-07-27 16:00] cmungall commented on #164
On 26 Jul 2016, at 23:14, Peter Robinson wrote:

I see, in that case we are in complete agreement. I thought we were
talking more about GO-BP-axiomatized phenotypes, mostly on the MP side,
in particular, abnormal-X-developmet

[2016-07-28 00:58] mellybelly commented on #162
I suspect that for ease of use, that equivalence cliques be merged with MP as primary

[2016-07-28 02:28] cmungall commented on #162
Jenkins job: https://build.berkeleybop.org/job/build-mp-hp-view

Currently deployed here
http://build-artifacts.berkeleybop.org/build-mp-hp-view/latest/mp-hp-view.owl

Still to redirect purl here

[2016-07-28 02:36] cmungall commented on #162
This should resolve shortly: http://purl.obolibrary.org/obo/upheno/mp-hp-view.owl

I configured the OBO purl server to point to the cloudfront distribution we use for the berkeley jenkins jobs. We can look to switching this to ci.mi for deployment later.

[2016-07-28 02:54] cmungall commented on #162
currently there is no merge equivalent classes step:

https://github.com/obophenotype/upheno/blob/e12bd8a38f4dd7c85dcbd42fba3d6665bf3a71c9/Makefile#L154-L166

[2016-07-28 20:24] nicolevasilevsky commented on #162
I am spot checked the file, generally looks good.

One potential issue:
should bone marrow failure (MP_0013776) be equiv to decreased bone marrow cell number (MP_0000333)?

All of the phenotypes that users searched for in our user testing are in the new file, except alcohol withdrawal (which is neither in HP or MP). Does anyone know if that term is intentionally omitted from the phenotype ontologi

[2016-07-28 20:30] jmcmurry commented on #162
If @nicolevasilevsky says that the terms our users looked for are in there and structured appropriately, this sounds good to me. That's the best metric we have for whether it fulfills the use case.

[2016-07-28 20:46] cmungall commented on #162
On 28 Jul 2016, at 13:24, nicolevasilevsky wrote:

No - in fact we shouldn't have any intra-ontology equivalencies.

If you open mp-hp-view.owl in Protege (this is the source importer, has
no inferences asserted) you can get an explanation for this

It would be useful to know why the user was searching for this and what
they expected. While it is certainly a phenotype in the sense of an
observable

[2016-07-28 20:59] nicolevasilevsky commented on #162
it doesn't give me an explanation, I just see this:
![image](https://cloud.githubusercontent.com/assets/6722114/17229209/80f26650-54cb-11e6-934a-4992f21cc8cb.png)

[2016-07-28 21:00] jmcmurry commented on #162
The bone marrow inquiry was Maureen's (related to FA)

[2016-07-28 21:01] cmungall commented on #162
@nicolevasilevsky can you look into these?

 * https://github.com/obophenotype/upheno/blob/master/reports/mp-mp-equivalent-classes.tsv
 * https://github.com/obophenotype/upheno/blob/master/reports/hp-hp-equivalent-classes.tsv

these either come from:

 1. false positive NER mapping
 2. bad logical axiom or combination of axioms
    - bad logical def equivalence axiom
    - logical defs are fine bu

[2016-07-28 21:02] cmungall commented on #162
@nicolevasilevsky - the first thing to check is the axiom annotation - that should tell you if it comes from a textmatch

[2016-07-28 21:03] nicolevasilevsky commented on #162
@cmungall yes, will do!

[2016-07-28 21:04] nicolevasilevsky commented on #162
and the alcohol withdrawal search was from a user who used to study alcoholism in rodents, and I agree, there are other ontology terms that would probably suit her needs

[2016-07-28 21:08] cmungall commented on #162
@nicolevasilevsky - sorry, you should be using mp-hp.owl. mp-hp-view.owl is the end-product file with inferences already performed

[2016-07-28 21:14] nicolevasilevsky commented on #162
it is in MonDO-Reports

[2016-07-28 21:23] cmungall commented on #162
It's in this repo: https://github.com/obophenotype/upheno/blob/master/mp-hp.owl

it's an importer

[2016-07-28 21:24] nicolevasilevsky commented on #162
@cmungall I am looking at the mp-mp-equivalent-classes file and it doesn't look like there are bad logical defs. This example is super wrong, for abnormal thymus morphology (MP_0000703)

![image](https://cloud.githubusercontent.com/assets/6722114/17229986/e57de8a8-54ce-11e6-9e75-a14f08a6fe12.png)

It is making a lot of subclasses equiv to their parent.

[2016-07-28 21:28] cmungall commented on #162
Right, the goal is to use the file without assertions to find explanations

[2016-07-28 21:47] cmungall opened #165 "MP/HP: adrenal gland hypoplasia"
* __Pr(G)__=0.2258064516129033 CONFIDENCE=0.0 Success:true
 * __SIZE__=3 (1 new axioms)
 * MEMBER: MP_0000640 adrenal gland hypoplasia
 * MEMBER: HP_0000835 Adrenal hypoplasia
 * MEMBER: MP_0002768 small adrenal glands
 * HP_0000835 Adrenal hypoplasia EquivalentTo MP_0000640 adrenal gland hypoplasia Pr= 0.7

![img-mp_0000640](https://cloud.githubusercontent.com/assets/50745/17230635/2029ba6a-54d2-

[2016-07-28 22:01] #165 closed

[2016-07-29 23:45] mellybelly commented on #162
One more task related to this ticket is to add terms to a slim based on the attached file
[mps.txt](https://github.com/obophenotype/upheno/files/391577/mps.txt)
These are the terms that are used for annotation and which will have pages created in IMPC, updating task list above. With apologies was lost in email.

[2016-08-09 23:41] jmcmurry commented on #150
@cmungall can you comment on degree of difficulty? There are a few open tickets this might resolve.

[2016-08-10 02:35] cmungall opened #166 "replace mpath neoplasms with NCIT"
- [ ] ensure equivalence axioms complete between NCIT and MPATH
 - [ ] replace axioms that references to NCITs with equivalent MPATH in HP
 - [ ] ensure NCIT-MPATH equivalences are in the mammal.owl merge
 - [ ] do same for MP

[2016-08-10 18:52] cmungall commented on #166
Note for the 2nd step, "place combined ncit-neoplasm and mpath subset in mpath_imports.owl"

the idea here is that we have a single imports module for pathological structures. We will keep calling this mpath_imports.owl to avoid disruption (recall both MP and HP share the imports in this repo).

The contents of this file will be a module extracted from the [merged mpath-neoplasm ontology](https://

[2016-08-28 00:09] cmungall opened #168 "Document design pattern strategy for all phenotype ontologies"
## Desiderata

 * [ ] All pheno ontologies (at least MP and HP) should use the same design pattern _approach_
 * [ ] design patterns in MP and HP should be _coordinated_
    * they may diverge in terms of textual definition pattern, synonym pattern, etc
    * we want to be able to easily compare and reuse the DPs
 * [ ]  The DPs should have clear documentation that is understandable to a non-ontol

[2016-08-28 00:17] mellybelly commented on #168
I would love to see this happen. There is a lot of design pattern documentation and much has been done already to manually align. We have some checks but not enough, this seems very timely.

@ybradford This may also be a good time to plan future ZP and/or coordination with ZFIN in any case too.

@cmungall once we have the design patterns perhaps we can use them to QA and/or enhance some of the oth

[2016-08-31 14:23] cmungall commented on #166
Note that in many places we employ post-composition - e.g. `presence of some (base-tumor-type and located-in some uberon-class).`

even though NCIT may have named classes corresponding to the inner expression, we will not do this. Other than it being hard, this complicates our strategy of reasoning using uberon as base anatomy

[2016-08-31 14:42] balhoff commented on #168
I've created a query generator which takes a DOSDP and creates a SPARQL query for finding terms which meet the design pattern in an ontology: https://github.com/balhoff/dosdp-scala

I need to create a command line so that it's easy to run. It will use Owlet for expanding the variable constraints in the case that the constraint is an expression.

[2016-08-31 18:18] sbello commented on #168
There is existing documentation for patterns that MP and HPO have worked on: https://docs.google.com/document/d/1LOYQ6pOlvapzJhHbSA_Rb3aZYylXZ564B78jiysvB-U/edit?usp=sharing

[2016-08-31 18:45] pnrobinson commented on #168
Hi everybody,

would it be ok for everybody if I put a link to this google doc onto the HPO wiki and we then discuss the best place to host this data in the future? It may be an idea to set up a common wiki for both MP and HP where there are subsites for each ontology or it would also be fine to have two websites, Cindy, what do you think?

In any case, I would love to start making some of this ma

[2016-08-31 18:46] pnrobinson commented on #168
Fine with me! ☺

Thanks Peter!

--
Nicole Vasilevsky, PhD 
Senior Biocurator
Ontology Development Group, Library
Oregon Health & Science University
vasilevs@ohsu.edu<mailto:vasilevs@ohsu.edu> 
503-806-6900 
skype: nicolevasilevsky

From: <phenotype-ontologies-editors@googlegroups.com> on behalf of Peter Robinson <Peter.Robinson@jax.org>
Date: Wednesday, August 31, 2016 at 11:45 AM
To: obophenotype

[2016-08-31 18:48] pnrobinson commented on #168
Fine by me. It would be great to have this in one place. The link I put in the github thread allows people to comment but not edit.
Sue

From: phenotype-ontologies-editors@googlegroups.com [mailto:phenotype-ontologies-editors@googlegroups.com] On Behalf Of Nicole Vasilevsky
Sent: Wednesday, August 31, 2016 2:46 PM
To: Peter Robinson; obophenotype/upheno; obophenotype/upheno
Cc: phenotype-ontologie

[2016-08-31 19:00] cindyJax commented on #168
I do not have a preference for one site with sub pages, or two interconnected sites.  As long as we all agree that this is/these are the definitive go-to sites.
Cindy

From: Peter Robinson <notifications@github.com<mailto:notifications@github.com>>
Reply-To: obophenotype/upheno <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, August 31, 2016 at 2:48 PM
To: obophenotype/uphe

[2016-09-02 06:51] cmungall opened #169 "investigate: Macular dystrophy is-a cardiovascular system phenotype"
Showing up in current scigraph-ontology. I believe this is historic and a reload will fix. But we should investigate for sure.

@nicolevasilevsky can you check monarch.owl. the methodology to check for incorrect `X SubClassOf Y` is to do a DL query for equivs of `X and Y` and if found report explanation

cc @drseb

[2016-09-02 06:59] cmungall opened #170 "Add disjointness axioms and other QC checks"
To prevent #169 like cases

[2016-09-02 07:08] cmungall opened #171 "Consider alternate strategies to avoid ontology conflation"
to avoid #169

we could mint upheno classes that are superclasses of MP/HP. This means rather than

    MP:abnormal-X Equiv HP:abnormal-X

which is very powerful axiomatically, which has the downside of increasing likelihood of errors

Instead we would have

    UPHENO:<new> abnormal-X
       MP:abnormal-X (mouse)
       HP:abnormal-X (human)

(we could affix labels, similar to what we might  do f

[2016-09-02 08:01] cmungall opened #172 "Add an axiom checker"
to avoid issues like #169

the idea is to test all proposed axioms to find "disruptive" ones, in particular those that introduce multiple new-intra ontology links. (the source ontologies would ideally be pre-reasoned)

## Input

 * `O` main OWL file (e.g. importer for hp, mp)
 * `H` hypothetical axiom OWL file (e.g. inferences from ROBOT; mp-hp lexically derived equivs)

## Algorithm

 1. Initiali

[2016-09-02 08:02] cmungall commented on #170
Example of check: #172

[2016-09-02 22:50] nicolevasilevsky commented on #169
When I do a DL query for 'macular dystrophy' equiv classes in monarch.owl, the only result I see is 'macular dystrophy'.

![image](https://cloud.githubusercontent.com/assets/6722114/18220245/d7c6ed28-7124-11e6-9b1d-a828976b938e.png)

Not sure if this is what you intended me to do?

[2016-09-02 23:01] cmungall commented on #169
let's say there that dog is a SubClassOf ancestor of plant, and you find this suspicious. Enter "dog and plant". "dog" will show up (because "dog and plant" is the same as "dog" if dogs are plants). So you ask why, and you hopefully see the offending source axiom.

Of course if you already know the direct offending inferred axiom, you can just navigate straight there and ask for the explanation. B

[2016-09-02 23:33] nicolevasilevsky commented on #169
When I do a DL query for subclasses of 'cardiovascular system phenotype', I see 'macular dystrophy' is a subclass. There are a ton of explanations, but I pasted one below.

![image](https://cloud.githubusercontent.com/assets/6722114/18220854/edb5dd28-712a-11e6-9ef0-673041666140.png)

![image](https://cloud.githubusercontent.com/assets/6722114/18220861/01cb013a-712b-11e6-87d9-82da3f92f1ea.png)

Doe

[2016-09-02 23:39] cmungall commented on #169
you rock! OK, we finally have our stack trace, now let's examine it and see how can find the bad axiom fastest...

[2016-09-02 23:47] cmungall commented on #169
Found it. Filing something on HP tracker

[2016-09-02 23:52] nicolevasilevsky commented on #169
Yay!

[2016-09-03 00:21] cmungall commented on #169
See the HPO ticket for the description of the source problem (which I may have been responsible for).

You can see how this would lead to the problems here. On the one hand you have assertions

 * abn-C isa abn-CR
 * abn-R isa abn-CR

And on the other you have inferences

 * abn-CR isa abn-C
 * abn-CR isa abn-R

This obviously ends up creating a clique of 5 mutually equivalent classes

[2016-09-03 07:48] cmungall commented on #149
PR for HP: https://github.com/obophenotype/human-phenotype-ontology/pull/1031

@nicolevasilevsky can you start working on these:

https://github.com/obophenotype/human-phenotype-ontology/blob/9c36be164c2a85c09b492633b3b32bf0169448a7/src/ontology/reports/equivalentClasses.csv

[2016-09-06 17:32] nicolevasilevsky commented on #149
what is the action item here? Is it to determine why these classes are considered equiv? For most of these, I think the logical definitions are the same, which is why they are being inferred as equiv classes.

[2016-09-06 19:41] cmungall commented on #149
Yes, immediate action is to fix the logical defs. Remember, a bad axiom is often worse than no axiom.

[2016-09-06 20:34] drseb commented on #149
Please do not just remove axioms. Checking the hierarchy and/or class merging also has to be considered

Sent from mobile

[2016-09-06 20:53] cmungall commented on #149
good point. Many of these are 'bad smells' indicating a need to merge.

@drseb, how would you like to proceed? Should Nicole create a new ticket
for each one of these, where we can give the +1/-1 on ways to proceed?
That's how I would do it, but I'm a splitter when it comes to tickets,
you may prefer to group.

On 6 Sep 2016, at 13:34, Sebastian Köhler wrote:

[2016-09-07 04:14] drseb commented on #149
Sent from mobile

[2016-09-07 05:09] drseb commented on #149
Ok. This is probably a good start:

- If the two classes are "highly similar" (read text-def) and one of them just needs another qualifier like progressive, localised, pathologic,... just add the qualifier. If the qualifier is not in PATO, but is a candidate for PATO, then let's discuss.
- If the two terms are highly similar, but one of them has a text-def that clearly separates him from the other

[2016-09-07 20:54] cmungall commented on #149
I am in perfect agreement. @nicolevasilevsky will you make a start?

[2016-09-07 21:04] nicolevasilevsky commented on #149
I will! :)

[2016-09-07 21:23] nicolevasilevsky opened #173 "HP_0000872 Hashimoto thyroiditis and HP_0100646 Thyroiditis have same logical definition"
HP_0000872 Hashimoto thyroiditis and HP_0100646 Thyroiditis have the same logical definition
'has part' some ('increased rate' and ('inheres in' some ('inflammatory response' and ('part of'     some 'thyroid gland'))) and ('has modifier' some abnormal))

**Hashimoto thyroiditis**
text def: A chronic, autoimmune type of thyroiditis associated with hypothyroidism.

**Thyroiditis**
text def: Inflamma

[2016-09-07 21:30] nicolevasilevsky opened #174 "HP_0007016 Corticospinal tract hypoplasia and HP_0007348 Hypoplasia of the pyramidal tract have the same logical def"
HP_0007016 Corticospinal tract hypoplasia	and HP_0007348 Hypoplasia of the pyramidal tract have the same logical def

Logical def is:
'has part' some
(hypoplastic and ('inheres in' some 'corticospinal tract') and ('has modifier' some abnormal))

--
HP_0007016 Corticospinal tract hypoplasia
No text def

HP_0007348 Hypoplasia of the pyramidal tract
No text def
--
Pyramidal tract is a synonym of cort

[2016-09-07 21:33] cmungall commented on #173
Is this really a distinct phenotype or a disease?

On 7 Sep 2016, at 14:23, nicolevasilevsky wrote:

[2016-09-07 21:34] nicolevasilevsky commented on #173
good point, it is a disease in DO:
DOID:7188 autoimmune thyroiditis (Hashimoto's thyroiditis)

[2016-09-07 21:40] nicolevasilevsky opened #175 "Hypercortisolism and Increased circulating cortisol level have same logical def"
HP_0001578 Hypercortisolism and HP_0003118 Increased circulating cortisol level have the same logical defs

Logical def:
'has part' some
('increased amount' and ('inheres in' some
(cortisol and ('part of' some blood))) and ('has modifier' some abnormal))

**HP_0001578 Hypercortisolism**
Syn: Cushing syndrome
Text def:
Overproduction of the hormone of cortisol by the adrenal cortex, resulting in a

[2016-09-07 21:42] nicolevasilevsky opened #176 "'Aplasia/Hypoplasia of the pyramidal tract' and 'Aplasia/Hypoplasia involving the corticospinal tracts' have the same logical def"
HP_0007363 Aplasia/Hypoplasia of the pyramidal tract and HP_0007365 Aplasia/Hypoplasia involving the corticospinal tracts have the same logical def

Logical def is:
'has part' some
(aplastic/hypoplastic and ('inheres in' some 'corticospinal tract') and ('has modifier' some abnormal))

Like in issue #174, pyramidal tract is a syn of corticospinal tract in Uberon. I think these should be merged.

[2016-09-07 21:46] nicolevasilevsky opened #177 "HP_0008163 and HP_0008220 have the same logical def"
HP_0008163 Decreased circulating cortisol level and HP_0008220 Hypocortisolemia have the same logical def

Logical def:
'has part' some
('decreased amount' and ('inheres in' some
(cortisol and ('part of' some blood))) and ('has modifier' some abnormal))

**HP_0008163 Decreased circulating cortisol level**
Abnormally reduced concentration of cortisol in the blood.

**HP_0008220 Hypocortisolemia**
t

[2016-09-07 21:53] nicolevasilevsky opened #178 "HP_0001913 and HP_0012234 are inferred to be equiv"
HP_0001913 Granulocytopenia and are inferred to be equiv classes.

**HP_0001913 Granulocytopenia**
Logical def:
'has part' some
('decreased amount' and ('inheres in' some
(granulocyte and ('part of' some blood))) and ('has modifier' some abnormal))

**HP_0012234 Agranulocytosis**
Logical def:
'has part' some
('decreased amount' and ('inheres in' some granulocyte) and ('has modifier' some abnormal)

[2016-09-07 21:57] nicolevasilevsky opened #179 "Albinism is inferred to be equiv to Generalized hypopigmentation"
HP_0001022 Albinsim is inferred to be equiv to HP_0007513 Generalized hypopigmentation

**HP_0001022 Albinsim**
Logical def:
'has part' some
('decreased rate' and ('inheres in' some
(pigmentation and ('occurs in' some 'multicellular organism'))) and ('has modifier' some abnormal))

text def:
An abnormal reduction in the amount of pigmentation (reduced or absent) of skin, hair and eye (iris and ret

[2016-09-07 22:00] nicolevasilevsky commented on #173
Related to #149

[2016-09-07 22:05] nicolevasilevsky opened #180 "HP_0000003 Multicystic kidney dysplasia and HP_0000113 Polycystic kidney dysplasia are inferred to be equiv classes."
HP_0000003 Multicystic kidney dysplasia and HP_0000113 Polycystic kidney dysplasia are inferred to be equiv classes.

These two classes have the same logical def:
**HP_0000003 Multicystic kidney dysplasia**
Logical def:
'has part' some
(polycystic and ('inheres in' some kidney) and ('has modifier' some abnormal))

Text def:
Multicystic dysplasia of the kidney is characterized by multiple cysts of

[2016-09-07 22:11] nicolevasilevsky opened #181 "HP_0009815 Aplasia/hypoplasia of the extremities and HP_0045060 Aplasia/hypoplasia involving bones of the extremities are inferred to be equiv classes."
HP_0009815 Aplasia/hypoplasia of the extremities and HP_0045060 Aplasia/hypoplasia involving bones of the extremities are inferred to be equiv classes.

These two classes have the same logical def:
**HP_0009815 Aplasia/hypoplasia of the extremities**
Logical def:
'has part' some
(aplastic/hypoplastic and ('inheres in part of' some 'appendicular skeleton') and ('has modifier' some abnormal))

Text

[2016-09-07 22:53] nicolevasilevsky opened #182 "HP_0001166 Arachnodactyly and HP_0100807 Long fingers are inferred to be equiv classes"
HP_0001166 Arachnodactyly and HP_0100807 Long fingers are inferred to be equiv classes

**HP_0001166 Arachnodactyly**
'has part' some
    ('increased length'
     and ('inheres in' some digit)
     and ('has modifier' some abnormal))

Text def:
Abnormally long and slender fingers ("spider fingers").

**HP_0100807 Long fingers**
Logical def:
'has part' some
    ('increased length'
     and ('inhere

[2016-09-08 12:22] pnrobinson commented on #180
Multicystic and polycystic are imbued with different meanings (medically) even though the English words appear to be saying the same thing. We can consider adding two corresponding terms to PATO but at the risk of confusing everybody who is not familiar with the medical background. In any case, they should not be inferred to be equivalent.

[2016-09-08 14:38] cmungall commented on #180
This is one of these zombie issues that keeps coming up, I thought we'd fixed it.

Adding corresponding terms to PATO would make no biological sense and would not deliver any inference power.

IMO the HPO text def for multicysticKD should be less dictionary definition like and more genus-differentia like. E.g. "Renal cycts characterized by multiple cysts of varying size in the kidney and the absen

[2016-09-08 14:40] cmungall commented on #180
or 'pair of kidneys' from uberon

[2016-09-08 16:30] nicolevasilevsky commented on #180
I don't see 'pair of kidneys' in uberon, does that exist? Could we do something like:
'has part' some
    (polycystic
     and ('inheres in' some 'left kidney') and ('inheres in' some 'right kidney')
     and ('has modifier' some abnormal))

for polycystic KD?

[2016-09-08 16:37] nicolevasilevsky opened #183 "HP_0005453 Absent/hypoplastic paranasal sinuses and HP_0009120 Aplasia/Hypoplasia involving the sinuses have same logical def"
HP_0005453 Absent/hypoplastic paranasal sinuses and HP_0009120 Aplasia/Hypoplasia involving the sinuses have same logical def

**HP_0005453 Absent/hypoplastic paranasal sinuses**
'has part' some
    (aplastic/hypoplastic
     and ('inheres in' some 'paranasal sinus')
     and ('has modifier' some abnormal))

Text def:
Absence or underdevelopment of a cranial sinus or sinuses.

**HP_0009120 Aplasia

[2016-09-08 16:44] nicolevasilevsky opened #184 "HP_0000272 Malar flattening and HP_0010669 Hypoplasia of the zygomatic bone have the same logical def"
HP_0000272 Malar flattening and HP_0010669 Hypoplasia of the zygomatic bone are inferred to be equiv classes

**HP_0000272 Malar flattening**
'has part' some
    (hypoplastic
     and ('inheres in' some 'jugal bone')
     and ('has modifier' some abnormal))

Text def:
Underdevelopment of the malar prominence of the jugal bone (zygomatic bone in mammals), appreciated in profile, frontal view, and/o

[2016-09-08 16:48] nicolevasilevsky opened #185 "HP_0000711 Restlessness and HP_0000713 Agitation are inferred to be equiv classes"
HP_0000711 Restlessness and HP_0000713 Agitation are inferred to be equiv classes

**HP_0000711 Restlessness**
'has part' some
    ('increased rate'
     and ('inheres in' some 'agitation behavior')
     and ('has modifier' some abnormal))

no text def

**HP_0000713 Agitation**
Logical def:
'has part' some
    (quality
     and ('inheres in' some 'agitation behavior')
     and ('has modifier' some

[2016-09-08 16:57] nicolevasilevsky opened #186 "HP_0001539 Omphalocele and HP_0010866 Abdominal wall defect are inferred to be equiv classes"
HP_0001539 Omphalocele and HP_0010866 Abdominal wall defect are inferred to be equiv classes

**HP_0001539 Omphalocele**
'has part' some
    ('closure incomplete'
     and ('inheres in' some 'abdominal wall')
     and ('has modifier' some abnormal))

text def
A midline anterior incomplete closure of the abdominal wall in which there is herniation of the abdominal viscera into the base of the abdom

[2016-09-08 17:00] nicolevasilevsky opened #187 "HP_0004299 Hernia of the abdominal wall and HP_0010866 Abdominal wall defect are inferred to be equiv classes"
HP_0004299 Hernia of the abdominal wall and HP_0010866 Abdominal wall defect are inferred to be equiv classes

**HP_0004299 Hernia of the abdominal wall**
'has part' some
    (herniated
     and ('inheres in' some 'abdominal wall')
     and ('has modifier' some abnormal))

text def
The presence of a hernia in the abdominal wall.

**HP_0010866 Abdominal wall defect**
Logical def:
'has part' some

[2016-09-08 17:02] drseb commented on #180
Probably need to regen uberon_import for this

Sent from mobile

[2016-09-08 17:05] drseb commented on #184
can you ask mark?

Sent from mobile

[2016-09-08 17:06] nicolevasilevsky commented on #184
@markengelstad - can you comment?

[2016-09-08 17:08] nicolevasilevsky commented on #180
I'm not sure if this class exists in Uberon, I didn't see in the Ontology Lookup Service.

[2016-09-08 17:08] drseb commented on #187
can you try to get the explanation in protege please?

probably related to another ontology

Sent from mobile

[2016-09-08 17:09] drseb commented on #180
Ok. then we wait for chris' ideas

Sent from mobile

[2016-09-08 17:10] nicolevasilevsky commented on #187
I looked for an explanation in Protege, but it did not give me one.

[2016-09-08 17:19] nicolevasilevsky opened #188 "HP_0009635 Synostosis of thumb phalanx and HP_0009656 Symphalangism of the thumb are inferred to be equiv classes"
HP_0009635 Synostosis of thumb phalanx and HP_0009656 Symphalangism of the thumb are inferred to be equiv classes

**HP_0009635 Synostosis of thumb phalanx**
'has part' some
    ('fused with'
     and ('inheres in' some 'manual digit 1 phalanx')
     and (towards some 'manual digit 1 phalanx')
     and ('has modifier' some abnormal))

text def
Fusion of thumb bone

**HP_0009656 Symphalangism of th

[2016-09-08 17:23] nicolevasilevsky opened #189 "Incorrect layperson assignments for HP_0010754 Abnormality of the temporomandibular joint and children"
The term HP_0010754 Abnormality of the temporomandibular joint, is marked layperson, which I think is incorrect, temporomandiubular joint is not a layperson term.

Synonyms are incorrectly assigned as layperson too:
Deformity of the temporomandibular joint
Malformation of the temporomandibular joint

Should add layperson synonyms:
Abnormality of the jaw joint
Deformity of the jaw joint
Malformatio

[2016-09-08 17:30] nicolevasilevsky opened #190 "HP_0005920 Abnormality of the epiphyses of the phalanges of the hand and HP_0005924 Abnormality of the epiphyses of the hand"
HP_0005920 Abnormality of the epiphyses of the phalanges of the hand and HP_0005924 Abnormality of the epiphyses of the hand

**HP_0005920 Abnormality of the epiphyses of the phalanges of the hand**
'has part' some
    (quality
     and ('inheres in' some 'epiphysis of phalanx of manus')
     and ('has modifier' some abnormal))

text def
Abnormality of the epiphyses of the fingers

**HP_0005924 Ab

[2016-09-08 17:44] nicolevasilevsky opened #191 "HP_0002924 Decreased circulating aldosterone level and HP_0004319 Hypoaldosteronism are inferred to be equiv"
HP_0002924 Decreased circulating aldosterone level and HP_0004319 Hypoaldosteronism are inferred to be equiv

**HP_0002924 Decreased circulating aldosterone level**
'has part' some
    ('decreased amount'
     and ('inheres in' some
        (aldosterone
         and ('part of' some blood)))
     and ('has modifier' some abnormal))

text def
A decreased level of aldosterone in the blood.

**HP_0004

[2016-09-08 18:04] nicolevasilevsky opened #192 "HP_0010674 Abnormality of the curvature of the vertebral column and HP_0100795 Abnormally straight spine are inferred to be equiv classes"
HP_0010674 Abnormality of the curvature of the vertebral column and HP_0100795 Abnormally straight spine are inferred to be equiv classes

**HP_0010674 Abnormality of the curvature of the vertebral column**
'has part' some
    (curvature
     and ('inheres in part of' some 'vertebral column')
     and ('has modifier' some abnormal))

text def
The presence of an abnormal curvature of the vertebral

[2016-09-08 18:11] drseb commented on #192
I can't see a difference of your suggested revision to the current def. Can you help me see it?

Sent from mobile

[2016-09-08 18:41] nicolevasilevsky commented on #192
My bad, it's fixed now.

[2016-09-08 18:42] cmungall commented on #192
Assume a typo and PATO:0002180 ! straight  intended?

On 8 Sep 2016, at 11:11, Sebastian Köhler wrote:

[2016-09-08 18:47] nicolevasilevsky commented on #192
yep, I meant straight

[2016-09-08 18:49] nicolevasilevsky commented on #189
I moved this to the HPO tracker, I realized I put this in the wrong place.
See https://github.com/obophenotype/human-phenotype-ontology/issues/1039

[2016-09-08 18:49] #189 closed

[2016-09-08 18:52] cmungall commented on #180
No, inheres-in is a functional relationship

Even with the correct logic, are we sure the logic matches the true
clinical definition? See my previous comments

[2016-09-08 18:53] cmungall commented on #180
I thought it was there, but it seems not

not convinced this is the best clinically or logically. Awaiting further
clarifications on text definitions. Until then, remove axioms?

[2016-09-08 19:24] pnrobinson commented on #185
Agitation can be defined as a severe form of restlessness
MeSH: A feeling of restlessness associated with increased motor activity. This may occur as a manifestation of nervous system drug toxicity or other conditions.
However, restlessness does not necessarily imply motor abnormalities (def: the feeling of being unable to sit still, or feeling as though you're on edge and something is about to or

[2016-09-08 19:37] nicolevasilevsky opened #193 "HP_0002493 Upper motor neuron dysfunction and HP_0007256 Abnormal pyramidal signs are inferred to be equiv classes"
HP_0002493 Upper motor neuron dysfunction and HP_0007256 Abnormal pyramidal signs are inferred to be equiv classes

**HP_0002493 Upper motor neuron dysfunction**
'has part' some
    ('decreased functionality'
     and ('inheres in' some 'corticospinal tract')
     and ('has modifier' some abnormal))

text def
A functional anomaly of the upper motor neuron. The upper motor neurons are neurons of th

[2016-09-09 21:56] cmungall opened #194 "Distribute hp.owl in a more reliable way"
Currently http://purl.obolibrary.org/obo/hp.owl redirects to jenkins. Jenkins isn't really intended as a fileserver. Import chains with hp.owl frequently fail

Some other options:
1. Serve out of a github raw URL. See for example [PATO](https://github.com/pato-ontology/pato/blob/master/src/ontology/README-editors.md)
2. Have jenkins push to a S3/cloundfront
3. Use the central OBO build and distrib

[2016-09-09 21:57] cmungall commented on #194
one particular problem noted is that rather than simply timing out, jenkins delivers an HTML file with an error message instead of RDF/XML, resulting in:

[code]

[2016-09-12 19:09] markengelstad commented on #184
Hi!

"Malar" and "zygomatic" are a big source of confusion in HPO and SNOMED and everywhere.

'Malar bone' is an older label that is a syonoym of Zygomatic bone, so one approach would be to make malar flattening a narrow synonym of zygomatic hypoplasia.  Also, as an aside the 'zygomatic arch' is actually made of two bones that meet in an arch -- the temporal process of the zygoma and the zygomatic

[2016-09-12 20:00] nicolevasilevsky opened #195 "HP_0003953 Absent forearm bone and HP_0009822 Aplasia involving forearm bones are inferred to be equivalent"
HP_0003953 Absent forearm bone and HP_0009822 Aplasia involving forearm bones are inferred to be equivalent

**HP_0003953 Absent forearm bone**
'has part' some
(absent and ('inheres in' some 'forelimb zeugopod bone') and ('has modifier' some abnormal))

text def
Absence of one or more forearm bones associated with congenital failure of development.

**HP_0009822 Aplasia involving forearm bones**
'

[2016-09-12 20:06] nicolevasilevsky opened #196 "HP_0000126 Hydronephrosis and HP_0010945 Fetal pyelectasis are inferred to be equivalent"
HP_0000126 Hydronephrosis and HP_0010945 Fetal pyelectasis are inferred to be equivalent

**HP_0000126 Hydronephrosis**
'has part' some
(dilated and ('inheres in' some 'renal pelvis') and ('has modifier' some abnormal))

text def
Severe distention of the kidney with dilation of the renal pelvis and calices.

**HP_0010945 Fetal pyelectasis**
'has part' some
('increased size' and ('inheres in' some

[2016-09-12 20:12] nicolevasilevsky opened #197 "HP_0000126 Hydronephrosis and HP_0010946 Dilatation of the renal pelvis are inferred to be equivalent"
HP_0000126 Hydronephrosis and HP_0010946 Dilatation of the renal pelvis are inferred to be equivalent

**HP_0000126 Hydronephrosis**
'has part' some
(dilated and ('inheres in' some 'renal pelvis') and ('has modifier' some abnormal))

text def
Severe distention of the kidney with dilation of the renal pelvis and calices.

**HP_0010946 Dilatation of the renal pelvis**
'has part' some
'has part' some

[2016-09-12 20:27] nicolevasilevsky opened #198 "HP_0010945 Fetal pyelectasis and HP_0010946 Dilatation of the renal pelvis are inferred to be equivalent"
HP_0010945 Fetal pyelectasis and HP_0010946 Dilatation of the renal pelvis are inferred to be equivalent

**HP_0010945 Fetal pyelectasis**
'has part' some
('increased size' and ('inheres in' some 'renal pelvis') and ('has modifier' some abnormal))

text def
Mild pyelectasis is defined as a hypoechoic spherical or elliptical space within the renal pelvis that measures at least 5mm and not more than

[2016-09-12 20:31] nicolevasilevsky opened #199 "HP_0005403 T lymphocytopenia and HP_0045071 Decrease in T cell number are inferred to be equivalent"
HP_0005403 T lymphocytopenia and HP_0045071 Decrease in T cell number are inferred to be equivalent

**HP_0005403 T lymphocytopenia**
'has part' some
('decreased amount' and ('inheres in' some 'T cell') and ('has modifier' some abnormal))

text def
An abnormally low count of T cells.

**HP_0045071 Decrease in T cell number**
'has part' some
('decreased amount' and ('inheres in' some 'T cell') and

[2016-09-12 20:35] nicolevasilevsky opened #200 "HP_0002539 Cortical dysplasia and HP_0006930 Frontoparietal cortical dysplasia are inferred to be equivalent"
HP_0002539 Cortical dysplasia and HP_0006930 Frontoparietal cortical dysplasia are inferred to be equivalent

**HP_0002539 Cortical dysplasia**
'has part' some
(dysplastic and ('inheres in' some 'cerebral cortex') and ('has modifier' some abnormal))

text def
The presence of developmental dysplasia of the cerebral cortex.

**HP_0006930 Frontoparietal cortical dysplasia**
'has part' some
(dysplasti

[2016-09-12 20:43] nicolevasilevsky opened #201 "HP_0000668 Hypodontia and HP_0009804 Reduced number of teeth are inferred to be equivalent"
HP_0000668 Hypodontia and HP_0009804 Reduced number of teeth are inferred to be equivalent

**HP_0000668 Hypodontia**
'has part' some
('decreased amount' and ('inheres in' some 'calcareous tooth') and ('has modifier' some abnormal))

text def
A developmental anomaly characterized by a reduced number of teeth, whereby up to 6 teeth are missing.

**HP_0009804 Reduced number of teeth**
'has part' som

[2016-09-12 20:51] nicolevasilevsky opened #202 "HP_0000175 Cleft palate and HP_0410004 Cleft secondary palate are inferred to be equivalent"
HP_0000175 Cleft palate and HP_0410004 Cleft secondary palate are inferred to be equivalent

**HP_0000175 Cleft palate**
'has part' some
('closure incomplete' and ('inheres in' some 'secondary palate') and ('has modifier' some abnormal))

text def
Cleft palate is a developmental defect of the palate resulting from a failure of fusion of the palatine processes and manifesting as a separation of the

[2016-09-12 20:55] nicolevasilevsky opened #203 "HP_0001220 Interphalangeal joint contracture of finger and HP_0100490 Camptodactyly of finger are inferred to be equivalent"
HP_0001220 Interphalangeal joint contracture of finger and HP_0100490 Camptodactyly of finger are inferred to be equivalent

**HP_0001220 Interphalangeal joint contracture of finger**
'has part' some
('Flexion contracture' and ('inheres in' some 'interphalangeal joint of manus') and ('has modifier' some abnormal))

text def
Chronic loss of joint motion in an interphalangeal joint of a finger due t

[2016-09-12 20:58] nicolevasilevsky opened #204 "HP_0001842 Foot acroosteolysis and HP_0010177 Osteolytic defects of the phalanges of the toes are inferred to be equivalent"
HP_0001842 Foot acroosteolysis and HP_0010177 Osteolytic defects of the phalanges of the toes are inferred to be equivalent

**HP_0001842 Foot acroosteolysis**
'has part' some
(Osteolysis and ('inheres in part of' some 'phalanx of pes') and ('has modifier' some abnormal))

no text def

**HP_0010177 Osteolytic defects of the phalanges of the toes**
'has part' some
(Osteolysis and ('inheres in' some

[2016-09-12 21:02] nicolevasilevsky opened #205 "HP_0001539 Omphalocele and HP_0004299 Hernia of the abdominal wall are inferred to be equivalent"
HP_0001539 Omphalocele and HP_0004299 Hernia of the abdominal wall are inferred to be equivalent

**HP_0001539 Omphalocele**
'has part' some
    ('closure incomplete'
     and ('inheres in' some 'abdominal wall')
     and ('has modifier' some abnormal))

text def
A midline anterior incomplete closure of the abdominal wall in which there is herniation of the abdominal viscera into the base of the a

[2016-09-25 09:42] drseb commented on #194
but your jenkins uses a problematic version of oort that produces a problematic hp.obo. any other ideas?

[2016-09-25 11:26] drseb commented on #194
switching to gh release would be ok, but I still would like to have a way to add the old releases.

[2016-09-25 11:29] drseb commented on #181
@pnrobinson can you clarify what the difference is? Can the extremities be aplastic/hypoplastic without having a bone-involvement?

[2016-09-25 12:21] pnrobinson commented on #181
Clearly if you have aplasia of all bones of an arm, then you would not have an entire bone-less arm but rather a stump. You can have aplasia of an individual bone without having limb aplasia. Of course the concepts are highly related. Both of the classes are grouping classes and probably would never be used for a specific annotation. At some point we need to revisit the structure of the ontology h

[2016-09-25 12:27] drseb commented on #181
But all these examples _involve some bone_, right? The question is if you can have a hypoplastic extremity where **no bone** is involved?

[2016-09-25 12:34] drseb commented on #181
Would you say that "Hypoplastic biceps" is a subclass of "Aplasia/hypoplasia of the extremities"?

[2016-09-25 13:38] pnrobinson commented on #181
This is a good point, and we have not yet committed ontologically to one or other interpretation. I think that it is probably better to build out the muscle section of the ontology to better group items like hypoplastic biceps.
Given the way we have been definining things to date, I would asnwer your question with YES, this is true. I am not sure that we want to keep it  that way though. I think w

[2016-09-26 17:27] cmungall commented on #194
On 25 Sep 2016, at 2:42, Sebastian Köhler wrote:

The job can be configured to use any version of oort we like (although
it's easiest if it's the latest and not a historic version). It's
easiest if it just executes a target in the makefile that is in the
repo.

Not sure what you mean by a problematic version, but oort is deprecated
in any case.

[2016-11-01 04:07] cmungall opened #206 "Make CI check for synonyms across HP and MP"
_From @mellybelly on June 13, 2016 15:35_

We can leverage work across the two ontologies if we examine synonym discrepancies for equivalent classes.

@cmungall @drseb @balhoff

_Copied from original issue: obophenotype/human-phenotype-ontology#912_

[2016-11-01 04:07] cmungall commented on #206
_From @pnrobinson on November 1, 2016 2:21_

This item has not been active. Is this something we want to address or canthis request be closed?

[2016-11-01 04:07] cmungall commented on #206
Move to upheno

[2016-11-09 08:57] asmunduhreinn opened #207 "Inter-ontology Closest Matches drosophila"
The Inter-ontology Closest Matches are a great tool.
Will there be a dpo hpo fuzzy matching made available in the future

[2016-11-09 13:44] drseb opened #208 "Wiki transfer from google code worked correctly?"
I have the feeling that transferring the page https://github.com/obophenotype/upheno/wiki/PhenotypeModelCompetencyQuestions did not work properly. Was there more content on that page before the transfer from google code @cmungall ?

[2016-11-17 22:33] cmungall commented on #207
We will try and slot this in.

Are you aware thought that FlyBase makes use of a lot of
post-coordinated phenotype annotation?

On 9 Nov 2016, at 0:57, Ásmundur Oddsson wrote:

[2016-11-17 22:33] cmungall commented on #208
Yes, and a few other pages too, e.g. modeling absence. I'm not quite
sure how to resolve this.

On 9 Nov 2016, at 5:44, Sebastian Köhler wrote:

[2016-11-18 10:11] drseb commented on #208
If there are no backups, then just close this issue. I don't think it is realistic that we have time to re-write this...

[2016-12-12 11:24] drseb commented on #171
I like the idea.

Question: a user is looking at the page for "Macular dystrophy (human)". From a UI-perspective it might be hard to make clear that now only human genes/variants are shown and the user has to actually click something to get inferred genes/variants from mouse. How would you imagine this?

Looking at your example:

[code]

What are the MPs and HPs here? Xrefs? Subclasses?

[2016-12-12 19:28] cmungall commented on #171
In this proposal MP and HP are subclasses of the UPHENO.

You are correct about the UI

[2017-01-12 14:04] drseb commented on #194
Duplicate of https://github.com/obophenotype/human-phenotype-ontology/issues/1155

[2017-01-12 14:04] #194 closed

[2017-01-12 14:04] #208 closed

[2017-02-07 21:44] cmungall opened #209 "Top level upheno purl redirects to old file"
Currently purls like

http://purl.obolibrary.org/obo/upheno/mammal.owl

Redirect to the importers in this repo

However, we also have

http://purl.obolibrary.org/obo/upheno.owl

Which redirects to a stale jenkins build. This should probably go to the top level importer

[2017-02-28 18:49] nicolevasilevsky opened #210 "Mark terms as layperson in yaml template"
I would like to mark certain terms as layperson in the yaml pattern, such as Large [anatomy] synonym for increased size

[2017-02-28 18:50] nicolevasilevsky opened #211 "need a travis job to check the yaml patterns"
need to double check my yaml patterns, check for typos, inconsistencies, etc.

[2017-02-28 19:32] nicolevasilevsky opened #212 "design patterns for Fibrosis and Sclerosis terms"
In the [design patterns doc](https://docs.google.com/document/d/10NCd9jXGXA4BETSBxdbVGfDFM2w4gAIbY6vpm4ERTBo/edit#), there are notes for requests for fibrotic and sclerotic terms from PATO. I created a term request for fibrosis in the PATO tracker (see https://github.com/pato-ontology/pato/issues/106)

In HPO, we are using MPATH_184 'sclerosis' for logical defs for sclerosis terms. Should I write

[2017-02-28 21:31] nicolevasilevsky opened #213 "question about about abnormal process logical def"
@cmungall - the vars: entity: "Thing" can be anything, right, such as a biological process?

According to the [google doc](https://docs.google.com/document/d/10NCd9jXGXA4BETSBxdbVGfDFM2w4gAIbY6vpm4ERTBo/edit#), the logical def for Abnormal Process (P) in some anatomy (A) should be:
'has part' some
(‘process quality’ and
('inheres in' some [GO process])
and ('has modifier' some abnormal))

Is this

[2017-02-28 21:55] nicolevasilevsky opened #214 "Need yaml template for more complicated logical defs"
@cmungall
Could you provide me with an example yaml template for a logical def that uses two vars/entities such as:

'has part' some
(‘having extra processual parts’ and
('inheres in' some ([**GO process**] and ‘occurs in’ some [**UBERON or GO CC**]))
and ('has modifier' some abnormal))

MP example:
astrocytosis [MP:0003354]
currently:
'has part' some
(‘having extra processual parts’ and
('inheres

[2017-02-28 22:09] nicolevasilevsky opened #216 "how to model 'missing process'?"
Old ticket from [google code](https://code.google.com/archive/p/phenotype-ontologies/issues/109)

I am unsure of the pattern we want to use for 'missing process' Please refer to that section in this doc: https://docs.google.com/document/d/1LOYQ6pOlvapzJhHbSA_Rb3aZYylXZ564B78jiysvB-U/edit#heading=h.cndwdf5tinuu

Should the structure be: structure: has part' some (absent and (‘inheres in’ some 'proc

[2017-02-28 22:19] nicolevasilevsky commented on #216
see https://github.com/obophenotype/upheno/blob/master/src/patterns/missingProcess.yaml

[2017-02-28 22:24] cmungall commented on #214
@dosumis has lots of examples

https://github.com/dosumis/dead_simple_owl_design_patterns/tree/master/patterns

E.g. https://github.com/dosumis/dead_simple_owl_design_patterns/blob/master/patterns/import_across_membrane.yaml

[2017-02-28 22:25] drseb commented on #216
lacks processual parts ? is it in pato?

[2017-02-28 22:25] nicolevasilevsky commented on #216
lacking processual parts is in patp

[2017-02-28 22:25] drseb commented on #216
is this the answer to your question?

[2017-02-28 22:28] nicolevasilevsky commented on #216
@cindyJax  commented on the [Berlin doc](https://docs.google.com/document/d/10NCd9jXGXA4BETSBxdbVGfDFM2w4gAIbY6vpm4ERTBo/edit#) that we had never decided on whether to use of 'absent'  or 'lacking processual parts' with processes. She noted in PATO, 'absent' remains a 'physical object quality' rather than a 'process quality', so at the Portland meeting we decided it best to use ‘lacks processual p

[2017-02-28 22:28] drseb commented on #216
ah wait - I see. Let's see what is used more often!

[2017-02-28 22:29] nicolevasilevsky commented on #216
ok - will you check? :)

[2017-02-28 22:35] drseb commented on #216
no. no need to. @cindyJax is right. if the phenotype is referring to processes, we have to use a quality from the "process quality" subontology in PATO

[2017-02-28 22:35] #216 closed

[2017-02-28 22:37] nicolevasilevsky commented on #214
excellent, thanks! I'll take a look.

[2017-03-09 03:22] cmungall opened #218 "oddity in tuples derived from DP:"
In https://build.berkeleybop.org/job/query-pheno-patterns/lastSuccessfulBuild/artifact/upheno/src/patterns/increasedWeight.mp.tsv/*view*/

[code]

the filler should always be a material entity here

@nicolevasilevsky can you investigate?

@balhoff how should we implement checks here? This is related to what @DoctorBud is doing, but the context there is de-novo assertion of tuples, here we have dup

[2017-03-17 07:57] drseb opened #220 "abnormal level pattern"
@nicolevasilevsky

I think this pattern should make use of chebi and name abnormalLevelOfChemical.yaml (right now it uses owl:thing)

Do you agree?

Do we have abnormal level of other entities as well? Like uberon?

[2017-03-17 15:23] nicolevasilevsky commented on #220
@drseb I updated that [pattern](https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalLevelOfChemical.yaml) to be more specific for chemical levels

Yes, we do have abnormal levels of chemical entities in anatomical structures/cells, like:
Abnormal muscle fiber protein expression
Looks like the pattern is:
'has part' some
(amount and ('inheres in' some
(protein and ('part of' som

[2017-03-17 16:08] nicolevasilevsky commented on #220
I created another pattern for [abnormal Level Of Chemical In Entity](https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalLevelOfChemicalInEntity)

[2017-03-17 18:01] balhoff commented on #220
@nicolevasilevsky I forgot to tell you that I updated my DOSDP to handle prefixes better. So you should use CURIEs in all the ID references in these patterns. I updated the previous patterns.

[2017-03-17 18:48] nicolevasilevsky commented on #220
Thanks @balhoff! I updated a couple of the files, let me know if there are any issues.

[2017-04-25 18:33] nicolevasilevsky opened #221 "Question about this yaml pattern: abnormalMorphologyInLocation"
https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalMorphologyInLocation

This is the example in the [google doc](https://docs.google.com/document/d/10NCd9jXGXA4BETSBxdbVGfDFM2w4gAIbY6vpm4ERTBo/edit#):
‘abnormal cardiomyocyte mitochondrion morphology’ [MP:xxxx]
'has part' some
	(morphology
 	and ('inheres in' some (mitochondrion and ‘part of’ some cardiomyocyte)))
 	and ('has m

[2017-04-25 18:48] balhoff commented on #221
You will need to create two different variables, otherwise, the same value will be filled in so that you get something like:

"Morphological abnormality of the mitochondrion in the mitochondrion"

It's okay to have two different variables for which the range of values is the same (e.g. 'anatomical entity'). Do this instead:

[code]

[2017-04-25 19:27] #214 closed

[2017-04-25 19:31] nicolevasilevsky commented on #221
Awesome- thanks Jim! I updated the file: https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalMorphologyInLocation

[2017-04-25 19:31] #221 closed

[2017-04-26 00:03] nicolevasilevsky opened #223 "question about yaml pattern"
https://github.com/obophenotype/upheno/blob/master/src/patterns/missingProcess.yaml

Some of these patterns have the has_part relation listed twice, is that necessary or can I delete the second has_part?

![image](https://cloud.githubusercontent.com/assets/6722114/25412627/014e9610-29d9-11e7-99ed-9c632a8fa7c5.png)

[2017-04-26 00:46] balhoff commented on #223
It's redundant. You just need to define the mapping once.

[2017-04-26 00:59] nicolevasilevsky commented on #223
Thanks @balhoff. Not sure how that got introduced, but I went through and (hopefully) removed all the redundant occurrences of has_part: BFO:0000051.

[2017-04-26 00:59] #223 closed

[2017-04-26 01:04] nicolevasilevsky commented on #211
I finished the first pass at adding all of the yaml files for the HP/MP design patterns that are in the [google doc](https://docs.google.com/document/d/10NCd9jXGXA4BETSBxdbVGfDFM2w4gAIbY6vpm4ERTBo/edit#heading=h.d837nwsvnxi6) and [Peter's wiki](https://github.com/obophenotype/human-phenotype-ontology/wiki/General-definitions). These are ready for review.

There are some patterns in the [google doc

[2017-04-26 01:06] nicolevasilevsky commented on #213
https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalProcessInALocation.yaml

this is the pattern I created. Let me know if it should be revised.

[2017-04-26 01:06] #213 closed

[2017-04-26 01:07] nicolevasilevsky commented on #220
I think this can be closed, please reopen if not.

[2017-04-26 01:07] #220 closed

[2017-04-26 01:09] nicolevasilevsky commented on #182
@drseb @pnrobinson Should we work on fixing the logical definitions for these terms?

[2017-04-26 01:11] nicolevasilevsky commented on #210
is there a way we can do this?

[2017-04-26 01:12] nicolevasilevsky commented on #212
i created a [yaml file for fibrosis ](https://github.com/obophenotype/upheno/blob/master/src/patterns/fibrosis.yaml )using the MPATH term, as that is what Peter used on his [wiki](https://github.com/obophenotype/human-phenotype-ontology/wiki/General-definitions).

[2017-04-26 01:14] pnrobinson commented on #182
Arachnodactyly is a bundled term but is so commonly used that it is accepted by Elements of Morphology (and HPO) as a valid term. Its definition should in fact include slender. Every arachnodactylic finger is a long finger but not necessarily vice versa.

[2017-04-26 01:23] nicolevasilevsky commented on #182
Is it possible to have a logical def like this?

'has part' some
('increased length' and slender and ('inheres in' some digit) and ('has modifier' some abnormal))

[2017-04-26 02:31] balhoff commented on #212
@nicolevasilevsky it seems like 'fibrosis' should be only defined under `classes` here, and not also be a variable in `vars`.

[2017-04-26 03:19] nicolevasilevsky commented on #212
I think it is fixed, would you mind double checking though @balhoff?

[2017-04-26 13:23] balhoff commented on #210
You ought to be able to, but actually I think there is a gap in the pattern schema here. @dosumis @cmungall as far as I can see there isn't a way to create an annotation (actually here an annotation of an annotation) with an IRI as the value.

[2017-04-26 13:58] dosumis commented on #210
Not entirely sure what's being requested here.  I haven't (up to now) thought of the YAML design patterns as specifying rendering.  The whole pattern is intended to be converted to OWL.  Any way you choose to mark terms or synonyms has to fit with this + any other standards the target ontology conforms to (e.g. OBO annotation properties; OBO-style representation of synonyms.)

Could pass IRI as st

[2017-04-26 14:35] pnrobinson commented on #210
btw I am not sure that "large" is always correct; probably "enlarged" is.

[2017-04-26 15:02] dosumis commented on #210
Think I now know what you want.

In OBO:

synonym: 'enlarged' LAY_TERMINOLOGY EXACT [PMID:1234567]

I agree we need more general support for synonym types.  This would be legal if we allow APs to be specified in vars:

[code]

For convenience, we could add an optional type annotation field to the OBO exact_synonym fields.   If you want to add non lay synonyms in the same pattern, you'd need to use

[2017-04-26 15:18] cmungall commented on #210
This is an interesting discussion and in general I support this extension to DOSDPs.

However, layperson synonyms will have to go in manually for now. "Large X" is not guaranteed to be layperson. You need a guarantee that X is layperson. So we'd first have to mark layperson syns in uberon, cl and go. After we do that we need synonym type composition rules:

 * lay o lay -> lay
 * _ o lay -> _
 * l

[2017-04-26 17:09] nicolevasilevsky commented on #210
@pnrobinson I removed the synonym for large

[2017-04-27 00:15] nicolevasilevsky commented on #210
@cmungall Sounds good, we can add the layperson tags manually. I'll close this ticket for now.

[2017-04-27 00:15] #210 closed

[2017-04-27 00:40] nicolevasilevsky opened #225 "question about abnormalTopologyInLocation.yaml"
Matt Brush had a question about this pattern:  Abnormal X topology in location Y https://github.com/obophenotype/upheno/blob/master/src/patterns/abnormalTopologyInLocation.yaml

if it should be using 'occurs in' or 'part of'?

Any comments?

Also- other questions that I emailed:
The only example I could find of this is: MP_0013830 abnormal intrathoracic topology of vagus nerve
This term is similar

[2017-04-27 01:22] nicolevasilevsky commented on #201
is there a way to logically define hypodontia that says up to 6 teeth are missing?
@drseb @pnrobinson

[2017-05-08 17:52] mellybelly opened #226 "reconcile cranial phenotype terms across MP and HP"
We have terms in HP that reference the calvaria, such as 'abnormality of the calvaria' HP_0002683
while in MP terms that reference the neurocranium, such as 'Abnormality of the neurocranium'. Uberon has clear definitions for neurocranium and calvaria, we can have both but should implement similarly in both ontologies.

Also these anatomical terms are used inconsistently. In HP we have a term 'Abno

[2017-05-08 17:53] mellybelly commented on #226
@pnrobinson @cmungall @cindyJax @sbello @nicolevasilevsky

[2017-05-08 17:57] nicolevasilevsky opened #227 "Question about midface retrusion and midface hypoplasia"
MP has two terms for midface retrusion (MP_0009855) and midface hypoplasia (MP_0012085), whereas HP has midface retrusion (HP_0011800) and midface hypoplasia is a synonym.

Should these terms be consistent in both ontologies?

@cmungall @mellybelly @markengelstad @pnrobinson @sbello @cindyJax

[2017-05-08 18:09] markengelstad commented on #227
Yes, I agree --  they are synonyms, and should be consistent across MP and HP.

Let me know if you want to set aside a few hours to go over all of the overlapping terms involved in facial growth/ facial phenotypes.  I'll join you!

[2017-05-08 20:59] sbello commented on #227
Is it always the case that retrusion = underdevelopment? And do all forms of midface hypoplasia result in retrusion?

Looking at the definition of retrusion (http://medical-dictionary.thefreedictionary.com/retrusion) online, it is defined as "the state of being located posterior to the normal position, such as the mandible or a tooth displaced in the line of occlusion." So it would seem that you c

[2017-05-08 21:02] pnrobinson commented on #227
See this discussion of midface retrusion in humans

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2778021/

This is what the HPO term is based on.

[2017-05-08 22:37] cmungall commented on #149
Robot should be used to report inferred equivalencies moving forward. Asking @dougl1sqrd if you have questions.

[2017-05-08 23:00] markengelstad commented on #227
Sue, I know what you are saying and one could spin in circles on these terms and their usage..

Most midface 'retrusion' or 'hypoplasia' is really a comment on the midface relation to the mandible.
A clinician looks at the jaws, sees that they aren't harmonious, then decides which one (or both) is the one that grew too much or too little, then labels that jaw with a finding like hypoplasia or retr

[2017-05-08 23:32] mellybelly commented on #227
nah, make it so in HPO and maybe in 5 yrs people will be more specific ;-)

[2017-05-08 23:45] nicolevasilevsky commented on #186
I think we should remove the logical def for omphalocele, as it seems more complicated than can be described using a standard pattern.
@pnrobinson @drseb

[2017-05-09 01:30] pnrobinson commented on #186
Using this definition
An omphalocele is a type of abdominal wall defect in which the intestines, liver and occasionally other organs remain outside of the abdomen in a sac because of a defect in the development of the muscles of the abdominal wall .
suggests maybe having something like
and
(mislocalized towards some intestines)
might be posible?

[2017-05-09 01:51] nicolevasilevsky commented on #186
@pnrobinson I don't know how to write that logical def, this works in Protege, but this does not include mislocalised:

'has part' some
   ('closure incomplete'
   and ('inheres in' some 'abdominal wall')
   and (towards some intestine)
   and ('has modifier' some abnormal))

[2017-05-09 01:52] nicolevasilevsky commented on #186
What about this suggested revision for HP_0001539 Omphalocele (see #205)? (Maybe this doesn't capture the whole definition properly either though)

'has part' some
(herniated
and ('inheres in' some 'abdominal viscera')
and ('has modifier' some abnormal))

[2017-05-09 01:57] pnrobinson commented on #186
I was thinking of something like this.
Not sure if it is correct.
ELK infers the term to be a subclass of mislocalised

'has part' some
    ('closure incomplete'
     and ('inheres in' some 'abdominal wall')
     and ('has modifier' some abnormal))
and
(mislocalised and ('inheres in part of' some intestine)
 and ('has modifier' some abnormal)
)

@cmungall  ? @drseb  ?

[2017-05-09 02:03] nicolevasilevsky commented on #186
This seems to work (you don't get the wrong inference)

'has part' some
(('closure incomplete'
and ('inheres in' some 'abdominal wall'))
and (mislocalised
and ('inheres in' some intestine))
and ('has modifier' some abnormal))

Not sure if this is correct though!

[2017-05-09 02:05] pnrobinson commented on #186
I think this expressed the meaning of omphalocele (although actually other organs variably can be affected but I think the intestines are characteristic, and so this simplification is justifiable!). This is a nice example!

[2017-05-09 04:04] cmungall commented on #186
When you see equivalencies can you post the explanation ("?" in Protege, take a screenshot)? This is a good habit in general.

[2017-05-09 04:10] nicolevasilevsky commented on #186
It doesn't show anything:
![image](https://cloud.githubusercontent.com/assets/6722114/25835333/afd8fbfe-3432-11e7-8946-fd68d01ed4cd.png)

[2017-05-09 04:13] nicolevasilevsky commented on #204
no explanation in protege:
![image](https://cloud.githubusercontent.com/assets/6722114/25835382/1a87b7ba-3433-11e7-98d4-de23cad4d25e.png)

[2017-05-09 04:19] cmungall commented on #186
(my comment was a delayed post from a few hours ago and addressed the first comment in the ticket)

[code]

This doesn't mean what you intend it to. It may look somewhat intuitively right, but remember, the order you write the elements of an intersection don't mean anything. If you permute and write the intestine after closure incomplete does it still make sense?

Really, it's better to have no eq

[2017-05-09 10:33] pnrobinson commented on #186
What do you mean with order? If this is describing an observation, then the order doesnt matter? We are not describing the etiology.

[2017-05-10 03:22] cmungall commented on #186
`IntersectionOf(A B C) == IntersectionOf(C B A)`

[code]

what's mislocalized and what is closed in the above?

Sorry, didn't explain very well. This has nothing to do with etiology, just OWL semantics.

[2017-05-10 03:25] cmungall commented on #186
Ah, hold on didn't see the extra parentheses there

[2017-05-10 03:38] cmungall commented on #186
OK, @pnrobinson's [proposed def](https://github.com/obophenotype/upheno/issues/186#issuecomment-300039761) avoids the ordering issue. Here it is, with indentation:

[code]

Here there is no ambiguity about what structure 'mislocalised' applies to and which 'closure incomplete' applies to

My comment on ordering applied to the [definition here](https://github.com/obophenotype/upheno/issues/186#issu

[2017-05-10 03:49] nicolevasilevsky commented on #186
Thanks for the explanation Chris, that is very helpful! However, in Peter's def, you get an inference of 'mislocalised' as a superclass of 'omphalocele- that's not right, right?

And sounds like you don't want to use these complicated logical definitions anyway, right?

Can we just delete the logical def for omphalocele and close this ticket? :)

[2017-05-10 10:21] pnrobinson commented on #186
Well, any of the OWL classes are susceptible to mis-interpretation in the way you state, for instance red eye can be caused by somebody pouring red paint on my face and if that gets recorded in the EHR, then presumably corresponding HPO class would be inferred. We should add the PATO term "externally mislocalized", and then there is little chance of misinterpretation.
But why delete the def, it se

[2017-05-10 16:04] nicolevasilevsky commented on #186
Aren't we getting the wrong inference with the proposed def though? Mislocalised should not be an inferred superclass, right?

[2017-05-11 00:47] cmungall commented on #186
@nicolevasilevsky can you post an explanation?

[2017-05-11 00:48] cmungall commented on #186
I'm not sure how it's possible to infer peter's class expression is a subclass of pato:mislocalised

[2017-05-11 01:14] nicolevasilevsky commented on #186
![image](https://cloud.githubusercontent.com/assets/6722114/25927673/75a46c54-35ac-11e7-88af-5f38a43ebbe9.png)

[2017-05-11 01:16] nicolevasilevsky commented on #186
This explanation does not help clarify anything for me, does it for you, @cmungall?

[2017-05-11 01:35] balhoff commented on #186
@nicolevasilevsky `mislocalised` should be "wrapped" by a `has part` restriction, I believe. Currently it's being intersected with the `has part` expression.

[2017-05-11 02:36] cmungall commented on #186
yes - parentheses are important! Use @pnrobinson's def

[2017-05-11 03:11] nicolevasilevsky commented on #186
but @pnrobinson's def is the one that is causing the incorrect inference:

'has part' some
  ('closure incomplete'
   and ('inheres in' some 'abdominal wall')
   and ('has modifier' some abnormal))
and
  (mislocalised
   and ('inheres in part of' some intestine)
   and ('has modifier' some abnormal))

[2017-05-11 03:12] nicolevasilevsky commented on #186
If I add additional parentheses, this fixes it (but is this correct?) (I bolded the extra parentheses)

'has part' some
  **(**('closure incomplete'
   and ('inheres in' some 'abdominal wall')
   and ('has modifier' some abnormal))
and
  (mislocalised
   and ('inheres in part of' some intestine)
   and ('has modifier' some abnormal))**)**

[2017-05-11 03:35] cmungall commented on #186
You're quite right, I had my order of precedence rules wrong. 😧

https://www.w3.org/TR/owl2-manchester-syntax/#Descriptions
Conjunctions have lower precedence than restriction. I will repeat this 100 times, and tattoo the BNF onto my chest! May the OWL gods forgive me.

[2017-05-11 03:37] nicolevasilevsky commented on #186
Haha @cmungall!

[2017-05-11 09:43] pnrobinson commented on #186
Of course, so the parens were the reason for mislocalised subclass inference ...

[2017-05-11 16:24] nicolevasilevsky commented on #186
@pnrobinson, what do you meant the parents were the reason? Can you explain further?

[2017-05-11 17:25] pnrobinson commented on #186
Sorry, I meant the parenTHESES not the parenTS. As Chris pointed out, the definition I originally tried was essentially
has_part some (other stuff) and mislocalised
i.e.
(has_part some (other stuff)) and mislocalised

[2017-05-11 17:31] nicolevasilevsky commented on #186
Ah, thanks for clarifying @pnrobinson!

So, what is the resolution here? Is this logical definition okay to use:
'has part' some
(('closure incomplete'
and ('inheres in' some 'abdominal wall')
and ('has modifier' some abnormal))
and
(mislocalised
and ('inheres in part of' some intestine)
and ('has modifier' some abnormal)))

[2017-05-11 17:33] nicolevasilevsky commented on #186
Or do we want to delete the current logical def? Because we still have the incorrect equivalence (as stated above)

[2017-05-15 11:00] drseb opened #228 "pr_import fails"
calling `make imports/pr_import.owl` produces an empty ontology.

The makefile told me that it was missing `obo-grep.pl`. (not sure why this is need, as we want the owl-version!?)

I downloaded it from https://raw.githubusercontent.com/cmungall/obo-scripts/master/obo-grep.pl

Do you have an idea what is wrong? Does it work for you?

[2017-05-15 12:38] drseb commented on #228
I am having problems to point the makefile to my `obo-grep.pl`. Can you help? Can we add `obo-grep.pl` to the upheno-dir and hardcode the path to it in the makefile?

[2017-05-15 14:50] drseb commented on #228
ping @cmungall

[2017-05-15 15:27] cmungall commented on #228
oh dear, this is a bit of an old makefile. We should tidy this up and start using robot. Is it OK if I add a robot dependency for this one?

If you need a quick fix, get the script here, but this is the path of evil...
https://github.com/cmungall/obo-scripts/

[2017-05-15 15:59] drseb commented on #228
See my initial question. I already grabbed it from `obo-scripts`. I could manage to run it, but this is all kind of horrible... (see my next issue)

I will close this one

[2017-05-15 15:59] #228 closed

[2017-05-15 16:04] drseb opened #229 "Re-generation of imports leads to build errors"
Hi,

with the re-run of make imports/xxx.owl, we are now having issues with **logic inconsistencies**. See e.g. https://travis-ci.org/obophenotype/human-phenotype-ontology/jobs/232460614 or http://build.berkeleybop.org/job/build-hp-edit/1946/console

This comes from one of the re-mireoted ontologies, i.e. chebi or uberon or GO.

Any ideas how to quickly fix this @cmungall ?

[2017-05-15 16:46] cmungall commented on #229
The most common cause of this is two separate uberon imports in the chain, each coming from different versions. Need a quicker way to analyze these than looking in Protege..

@nicolevasilevsky can you take a look and generate an explanation, and see if the axioms are coming from 2 places?

[2017-05-15 17:19] drseb commented on #229
![screen shot 2017-05-15 at 19 18 08](https://cloud.githubusercontent.com/assets/5172897/26070022/521bc1a6-39a3-11e7-8ebd-50ba8abf3d18.png)

@cmungall Why are there disjointness axioms in uberon? I thought we remove them for the import purpose?

[2017-05-15 17:24] cmungall commented on #229
They're there for detecting errors. I don't recall removing them in
imports.
On Mon, May 15, 2017 at 10:19 Sebastian Köhler <notifications@github.com>
wrote:

[2017-05-15 19:52] cmungall commented on #229
Related ticket: https://github.com/obophenotype/uberon/issues/1189

It looks like there is a very stale set of uberon axioms kicking around in the import chain, conj-sac hasn't been part of the eyeball since 2015:
https://github.com/obophenotype/uberon/commit/914304d75a48ed17a9edb175be36bbc60f9666f2

[2017-05-16 10:02] drseb commented on #229
fixed

[2017-05-16 10:02] #229 closed

[2017-05-16 13:05] balhoff commented on #218
I think we could add an operation to dosdp-scala which checks that an input TSV matches up with the defined ranges for fillers. That could be independent of whether the tuples are new or derived from a query.

It would also be possible to incorporate the filler ranges into the query for matches. But then that might prevent you from seeing this problem at all.

[2017-05-16 14:14] cmungall commented on #171
We could also include 'homology' links between MP-HP-WBPhenotype etc, this would facilitate easier navigation in the UI, rather than hop-up-hop-down

[2017-05-16 14:24] cmungall commented on #171
Another difficulty: currently the official OWL defs use species-neutral ontologies (GO, CL, Uberon, CHEBI). We would need to either:

 * inject an additional taxon clause
 * change the DPs to always include a taxon

The injection step is not appealing as it could create confusion having two different official OWL defs. For the DPs, it would be tedious to manually have to add the clause each time (

[2017-05-16 14:29] cmungall commented on #171
For the algorithm that builds the species-neutral grouping classes:

 1. For all ss ontologies, For each ss class `C`, generate a sn class `C'`: remove taxon clause and modify labels to disambiguate
 2. Run reasoner and merge equivalence cliques. Note it is impossible for this step to merge to ss classes from different ontologies. This will only merge two sn classes, or a sn class into a ss class

[2017-05-31 13:58] drseb opened #230 "'has fewer parts of type' should inhere in the whole thing"
@balhoff :

Let us investigate what MP/ZP is doing, write a pattern, and see what the consequences in terms of reasoning are.

[2017-05-31 15:16] cmungall opened #231 "Problems with fistula DP"
http://www.ontobee.org/ontology/HP?iri=http://purl.obolibrary.org/obo/MPATH_70
http://www.ontobee.org/ontology/MP?iri=http://purl.obolibrary.org/obo/MPATH_70

 1. [this one](http://purl.obolibrary.org/obo/HP_0000143) treats the fistula as inhering. __This should cause incoherency__, why isn't it?
 2. All attempts to represent a fistula that connect two cavities or tracts such as [this one](http://

[2017-05-31 15:20] cmungall opened #232 "Anti-pattern: Double inheres-in"
We should create a library of **anti-patterns** (cc @dosumis and @balhoff).

One example: http://www.ontobee.org/ontology/MP?iri=http://purl.obolibrary.org/obo/MP_0011657 (following from #1764).

We should never have double-inherence. These should in many cases be unsatisfiable (if we get the Functional characteristic from RO and disjointness from Uberon/GO), not clear why many are not being flagg

[2017-06-27 20:11] nicolevasilevsky commented on #173
@pnrobinson what should we do about HP_0000872 Hashimoto thyroiditis?
This is a disease in DO, do we want to keep it in HP?

If yes, I suggest we remove the logical definition.

[2017-06-27 20:13] nicolevasilevsky commented on #179
@cmungall and @pnrobinson - see comment above

[2017-06-27 20:16] nicolevasilevsky commented on #178
@drseb @cmungall @pnrobinson
Are these are inferred to be equiv because granulocyte is a blood cell?

There is no explanation in Protege.

[2017-06-27 20:17] nicolevasilevsky commented on #177
@drseb @pnrobinson
Could these be merged?

[2017-06-27 20:18] nicolevasilevsky commented on #176
@drseb @pnrobinson
Can these be merged?

[2017-06-27 20:19] nicolevasilevsky commented on #175
@drseb @pnrobinson
Should these be merged?

[2017-06-27 20:20] nicolevasilevsky commented on #174
@drseb @pnrobinson
Should these be merged?

[2017-06-27 20:22] nicolevasilevsky commented on #180
@pnrobinson @drseb
Do you mind if I remove the axioms as Chris suggests above?

[2017-06-27 20:29] nicolevasilevsky commented on #205
added revised logical def

[2017-06-27 20:29] #205 closed

[2017-06-27 20:32] nicolevasilevsky commented on #204
If I try to revise the logical def for HP_0001842 Foot acroosteolysis to:
'has part' some
(Osteolysis and ('inheres in part of' some pes) and ('has modifier' some abnormal))

it is still inferred to be equiv with HP_0010177 Osteolytic defects of the phalanges of the toes

I suggest we remove the logical def from HP_0001842 Foot acroosteolysis

@drseb @pnrobinson

[2017-06-27 20:34] nicolevasilevsky commented on #203
@drseb @pnrobinson
Should these be merged?

[2017-06-27 20:35] nicolevasilevsky commented on #202
same as https://github.com/obophenotype/human-phenotype-ontology/issues/2431

@drseb and @pnrobinson
Should these be merged? Or should the logical definition of HP_0000175 Cleft palate be revised to include the hard and soft palate?

[2017-06-27 20:38] nicolevasilevsky commented on #201
Per @drseb's guidelines, I removed the logical def from HP_0000668 Hypodontia

see #149
If the two terms are highly similar, but one of them has a text-def that clearly separates him from the other term, and we don't have way to express this difference in OWL, remove the logical def of the more specific class. (Check set of ancestor classes)

[2017-06-27 20:38] #201 closed

[2017-06-27 20:40] nicolevasilevsky commented on #200
@drseb @pnrobinson
These logical defs are different but the reasoner seems to be ignoring the **or ('inheres in' some 'parietal cortex'))**

Is the logical definition written incorrectly?

[2017-06-27 20:40] nicolevasilevsky commented on #199
these have been merged

[2017-06-27 20:40] #199 closed

[2017-06-27 20:42] nicolevasilevsky commented on #198
@drseb and @pnrobinson
increased size is a subclass of dilated, so maybe that is causing the issue?

The text def for HP_0010945 Fetal pyelectasis seems more complicated than the logical def though, so could we remove the logical def?

[2017-06-27 20:45] nicolevasilevsky commented on #197
Removed the logical def for HP_0000126 Hydronephrosis, per Seb's guidelines in #149

If the two terms are highly similar, but one of them has a text-def that clearly separates him from the other term, and we don't have way to express this difference in OWL, remove the logical def of the more specific class. (Check set of ancestor classes)

[2017-06-27 20:46] #197 closed

[2017-06-27 20:49] nicolevasilevsky commented on #196
removed logical def from HP_0000126 Hydronephrosis per Seb's guidelines in #149

If the two terms are highly similar, but one of them has a text-def that clearly separates him from the other term, and we don't have way to express this difference in OWL, remove the logical def of the more specific class. (Check set of ancestor classes)

[2017-06-27 20:49] #196 closed

[2017-06-27 20:50] nicolevasilevsky commented on #195
revised the logical def for HP_0009822 Aplasia involving forearm bones to
'has part' some
(aplasia and ('inheres in' some 'forelimb zeugopod bone') and ('has modifier' some abnormal))

[2017-06-27 20:50] #195 closed

[2017-06-27 20:54] cmungall commented on #200
Partly correct, UnionOf is outside EL++. However, reasoning is monotonic, so if a reasoner infers A=B, you can never dissuade it from this inference by adding new axioms. If an inference is puzzling try and paste the explanation (if this doesn't work post a Protege bug report)

[2017-06-27 20:55] nicolevasilevsky commented on #193
@drseb @cmungall @balhoff
Is this logical def okay, is it okay to have 'decreased functionality' with a cell/anatomical entity?

'has part' some
('decreased functionality'
and ('inheres in' some (neuron and ('part of' some 'primary motor cortex')))
and ('has modifier' some abnormal))

[2017-06-27 20:58] nicolevasilevsky commented on #192
I revised the logical definition for HP_0100795 Abnormally straight spine to
'has part' some
(straight
and ('inheres in part of' some 'vertebral column')
and ('has modifier' some abnormal))

[2017-06-27 20:58] #192 closed

[2017-06-27 20:59] nicolevasilevsky commented on #191
@pnrobinson @drseb
I think these are the same, can they be merged?

[2017-06-27 21:00] cmungall commented on #200
Be very careful with your ORs and ANDs.

Refer to:
https://github.com/obophenotype/human-phenotype-ontology/issues/1030

This is analogous.

[2017-06-27 21:11] nicolevasilevsky commented on #188
Per Seb's guidelines (#149), could we just add the 'congenital onset' to HP_0009656  Symphalangism of the thumb
If the two classes are "highly similar" (read text-def) and one of them just needs another qualifier like progressive, localised, pathologic,... just add the qualifier.

'has part' some
('fused with' and ('inheres in' some 'manual digit 1 phalanx') and (towards some 'manual digit 1 phala

[2017-06-27 21:13] nicolevasilevsky commented on #187
not sure what changed here but these are not longer inferred to be equivalent.

[2017-06-27 21:13] #187 closed

[2017-06-27 21:16] pnrobinson commented on #180
Please let us discuss this. Polycystic and multicystic are not synonyms in medical usage, and the easiest thing would be to add an additional PATO term with the precise definitions.

[2017-06-27 21:17] pnrobinson commented on #174
These are not quite the same thing, see https://en.wikipedia.org/wiki/Pyramidal_tracts
Todo -- add better definitions!

[2017-06-27 21:18] nicolevasilevsky commented on #186
I added a revised logical def to HP_0001539 Omphalocele, see #205

Please reopen if the logical definition of should be revised.

[2017-06-27 21:18] #186 closed

[2017-06-27 21:18] pnrobinson commented on #175
Hypercorticolism is not a great term, as it is bundling the effects of Increased circulating cortisol level, Let us look at the annotated diseases and try to figure out what we should do with this.

[2017-06-27 21:19] nicolevasilevsky commented on #174
Pyramidal tract is a synonym of corticospinal tract in Uberon, I can submit a ticket to Uberon.

[2017-06-27 21:19] pnrobinson commented on #177
See comment for the Hyper analogs!

[2017-06-27 21:23] pnrobinson commented on #178
Agranulocytosis should be "lacks parts", it is not just reduced, it is absent of course.

[2017-06-27 21:25] pnrobinson commented on #179
is this a inheres in part of issue?

[2017-06-27 21:26] pnrobinson commented on #173
The issue is that some diseases are features of other diseases and it would be difficult to remove this from the HPO database without losing information. We are going to be developing a more generalized way of doing this in the future.

[2017-06-27 21:27] nicolevasilevsky commented on #178
Thanks Peter! I updated the logical def to use 'lacking all parts of type'

[2017-06-27 21:31] cmungall commented on #180
If the poly vs muticystic distinction is not applied outside the renal system then shifting the definitional burden to PATO will not achieve anything.

Bad OWL definitions should be removed (or at least replaced with subClass axioms if we believe they are N, not just N+S). We can always go in and correct ones when we know what they should be. This is actively blocking us.

[2017-06-27 21:33] cmungall commented on #180
[code]

not a disease.

[2017-06-27 21:44] nicolevasilevsky commented on #174
see https://github.com/obophenotype/uberon/issues/1334

[2017-06-27 21:47] nicolevasilevsky commented on #177
for reference, see #175

[2017-06-27 22:01] nicolevasilevsky commented on #181
@pnrobinson for now, do you mind if I remove the logical def for HP_0045060 Aplasia/hypoplasia involving bones of the extremities?

[2017-06-27 22:04] cmungall commented on #174
note current proposal in uberon is to have pyramidal be grouping of CS and CB.

This is 50% consistent with the HPO manual classification, which can't make up its mind:

![image](https://user-images.githubusercontent.com/50745/27612088-c69a9e54-5b49-11e7-8290-0304badb6471.png)

[2017-06-27 22:15] cmungall commented on #174
cc @sbello:

[code]

[2017-06-27 22:19] nicolevasilevsky commented on #185
@pnrobinson for now, could we remove the logical def from HP_0000711 Restlessness?

[2017-06-27 22:21] nicolevasilevsky commented on #184
@pnrobinson and @drseb Should we merge these terms as Mark suggests?

[2017-06-27 22:30] cmungall commented on #193
if it says it's OK in the yaml

[2017-06-27 23:12] nicolevasilevsky commented on #193
Looks like we don't have a yaml pattern for that per se, but I do see that other terms are using decreased functionality with anatomical structures. I will update this logical def for HP_0002493 Upper motor neuron dysfunction and add a yaml pattern too.

[2017-06-27 23:15] nicolevasilevsky commented on #193
added revised logical def to HP_0002493 Upper motor neuron dysfunction
'has part' some
('decreased functionality'
and ('inheres in' some (neuron and ('part of' some 'primary motor cortex')))
and ('has modifier' some abnormal))

[2017-06-27 23:17] pnrobinson commented on #184
Should we have a session with Mark to go over this? One issue is that Elements of Morphology have also created a lot of terms here, and we should try to remain consistent with them. I would prefer not to change terms in isolation but to do one coordinated sweep across this -- @markengelstad  do you have some time to join a skype about this? THanks!

[2017-06-27 23:18] pnrobinson commented on #185
Restlessness is not a synonym of agitation and I think the definition is incorrect and should be removed.

[2017-06-27 23:25] nicolevasilevsky commented on #193
@balhoff I added two new yaml patterns, would you mind checking them?
https://github.com/obophenotype/upheno/blob/master/src/patterns/decreasedFunctionalityInLocation
https://github.com/obophenotype/upheno/blob/master/src/patterns/increasedFunctionalityInLocation

[2017-06-27 23:25] #193 closed

[2017-06-27 23:26] nicolevasilevsky commented on #184
Since it may take some time to get this properly resolved, would it be okay if I just removed the logical definition from HP_0000272 Malar flattening for now, so we don't have the incorrect equivalence?

[2017-06-27 23:27] balhoff commented on #178
I still cannot understand how the two original expressions are equivalent. @cmungall this is a puzzler.

[2017-06-27 23:35] balhoff commented on #178
Oh! I see, should have been obvious. Agranulocytosis is asserted to be a subclass of Granulocytopenia. However the definition of Granulocytopenia was a subclass of the definition of Agranulocytosis. Reciprocal subclasses are equivalent.

[2017-06-27 23:40] nicolevasilevsky commented on #185
removed logical def from HP_0000711 Restlessness

[2017-06-27 23:40] #185 closed

[2017-06-28 02:18] cmungall commented on #178
@nicolevasilevsky do we have a reason to use (granulocyte and ('part of' some blood)) in one and plain granulocyte in the other? We might think a reasoner would infer these two expressions to be equivalent but in fact CL lacks any axiom that restricts granulocytes to blood (presumably as they can be found in lymph too)

[2017-06-28 02:25] nicolevasilevsky commented on #178
good point, I will add (granulocyte and ('part of' some blood)) to HP_0012234 Agranulocytosis

[2017-06-28 11:48] drseb commented on #191
Are both inhering in blood?

[2017-06-28 15:03] cmungall commented on #178
But the text says

*def: "Marked decrease in the number of granulocytes." [HPO:probinson]*

It's always a red flag if the OWL definition starts dropping in extra clauses that are not in the text

[2017-06-28 16:50] balhoff commented on #193
I made a couple of tweaks to the patterns.

[2017-06-28 17:05] balhoff commented on #193
@nicolevasilevsky actually there are a few problems. Instead of variable names the pattern is using 'anatomical entity'. I assume you want 'entity' here instead. But you have 2 vars defined so I don't want to jump to conclusions.

[2017-06-29 21:32] markengelstad commented on #184
I can join you guys for sure.
and i think peter is right -- as i go back and forth on this, there are so
many options.  The elements of morphology aren't optimal in many ways, but
overall i think its best to stick with their terminology.

On Tue, Jun 27, 2017 at 4:27 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2017-07-03 21:15] cmungall commented on #173
OK, no worries about keeping it in for now

But it's clear the owldef needs to be removed

[2017-07-03 21:19] cmungall commented on #179
annoying there is no explanation, need to file protege report

but note that in general these kinds of things are easy to track down

You can tell immediately that the owldef for albinism subsumes the owldef for GH

There is a reciprocal assertion in the ontology

[code]

[code]

[2017-07-03 21:26] cmungall commented on #179
That is the explanation. As to the solution:

Albinism is a single-child. This is always a bad smell (todo: add soft sparql check for this)

No text def is also bad smell - can do we do a push to ensure everything has text defs?

This site http://www.skindermatologists.com/generalized-hypopigmentation.html includes Hypopituitarism, but this is not a pigmentation phenotype in HPO (which seems OK to

[2017-07-03 21:32] cmungall commented on #190
ORs are a bad smell

I think this is fine

epiphysis of the hand == epiphysis and part_of some UBERON:0001442 ! skeleton of manus

This is also UBERON:0012151 ! skeleton of manual digitopodium

but I don't think necessary

[2017-07-03 21:42] cmungall commented on #204
There should be no design patterns of the form `has-part some HP_nnnnn and ...`

[2017-07-03 21:46] cmungall commented on #204
Lots of terms without text defs here:

[code]

All have owldefs.

OK, I suggest we split this into 2:

 1. We need a pattern for osteolysis that avoids HP in genus. Ideally something like MPATH should work for this...
 2. equivalence

[2017-07-04 12:31] pnrobinson commented on #204
One issue is that it would be good to adopt more standardization for the term labels. In retrospect, I think that "Tarsal bone osteolysis" is better than "Osteolysis involving the tarsal bones", for instance. These terms were created ad hoc and any accrual, but now it is time to go back and review them. Also, I would like to add definitions manually and to provide the user a few hints as to what i

[2017-07-04 12:35] pnrobinson commented on #179
The issue is that most descriptions are based on disease diagnoses (e.g., http://www.gpnotebook.co.uk/simplepage.cfm?ID=597295152). I do not believe that the type of generalized hypo pigmentation is identical in all these diseases. We were using the word albinism as a proxy. It would be great to hold a dermatology workshop.

[2017-07-10 17:27] drseb opened #233 "Discuss cl_import"
@cmungall we need to discuss cl_import with @sbello @nicolevasilevsky @mellybelly .

[2017-07-10 19:25] cmungall commented on #233
Yes, more generally we should switch to an updated import pipeline using robot, and having a distinct terms.txt file for each source,

https://github.com/INCATools/ontology-starter-kit/blob/master/template/src/ontology/Makefile#L32-L35

For uberon/cl, I guess the issue is that we always get cl via the uberon ext release (which bundles cl). This has some advantages for other purposes, such as getti

[2017-08-04 20:01] kshefchek opened #234 "Optic choroid part of posterior and anterior segment of eye"
Found this while debugging unsats in upheno for ZFA:0005229 ! optic choroid:

![choroid](https://user-images.githubusercontent.com/1467299/28984882-e7ff3a4e-7914-11e7-8e10-0a8576fddc11.png)

May be similar to https://github.com/obophenotype/human-phenotype-ontology/issues/1030

[2017-08-04 21:36] cmungall commented on #234
There is also a longstanding ticket on ZFA spatial disjointness violations when combined with uberon axioms: https://github.com/obophenotype/uberon/issues/378

[2017-08-04 21:46] cmungall commented on #234
There is an axiom in uberon that was influenced by MA, this needs modifying:
https://github.com/obophenotype/mouse-anatomy-ontology/issues/113

But even then the moral of the story is that enforcing consistency with strong constraints across multiple ontologies is hard. Constraint axioms should be removed except if the purpose is to find inconsistencies across ontologies

Note this is a cryptic di

[2017-08-15 17:30] lwinfree opened #235 "add license"
@cmungall Please add license section to the github repo.
Thanks!

[2017-08-22 20:19] sbello opened #236 "review pattern for impaired behavior"
The yaml pattern for impaired behavior translates to:
"'has_part' some ('decreased rate' and ('inheres_in' some %s) and ('qualifier' some 'abnormal'))"
I question the use of 'decreased rate' (def 'A rate which is relatively low' where rate is defined as 'A quality of a single process inhering in a bearer by virtue of the bearer's occurrence per unit time.'  Many impaired behaviors do not rely upon

[2017-09-16 14:06] pnrobinson commented on #178
-penia means simply reduced (like penurious)
-a... means complete lack of
so basically Agranulocytosis is a severe form of Granulocytopenia

I think Nicole already changed the logical definitions and now all seems to be correct. I am closing this issue.

[2017-09-16 14:06] #178 closed

[2017-09-16 14:08] pnrobinson commented on #180
@cmungall  Hi Chris,
I do not think the differentia between multicystic and polycystic you propose are correct. Even though the english words appear to mean the same thing they do not and we should have two PATO classes!

[2017-09-16 14:11] pnrobinson commented on #182
@nicolevasilevsky @drseb @cmungall

I think that the following definition may be more correct. I tried it in Protege and there is no longer an equivalence to long fingers. Please comment and if it is OK then add to the hp-edit file!

'has part' some
('increased length' and ('inheres in' some digit)
and
(slender and ('inheres in' some digit))
 and ('has modifier' some abnormal))

[2017-09-20 21:28] pnrobinson commented on #182
The latter is a legacy bundled term and should be split into two terms probably! I will have a look.

[2017-09-21 00:29] balhoff commented on #182
The expression as written relies on operator precedence in a way that makes me nervous. It is actually intersecting (has_part some 'increased length'...) with (slender...). But in the way I think it is intended, it would be intersecting 'increased length' with 'slender', and I'm not sure about that. It may be okay, but we need to consider whether it's one quality which is both an 'increased length

[2017-09-21 01:47] pnrobinson commented on #182
Hi Jim,
it is possilby a philosophical question as to whether there are one or two qualities, but the affected individuals have all 20 digits being simultaneously long and slender.
We now have three options on the table. Can we discuss exactly what the distinction is?

[2017-09-21 01:50] balhoff commented on #182
The alternative would run into problems in the event the two quality classes used were stated to be disjoint:

[code]

[2017-10-11 19:32] sbello opened #237 "add terms to the UBERON import"
I've added 3 terms to the UBERON import
 http://purl.obolibrary.org/obo/UBERON_0001627 (middle cerebral artery)
 http://purl.obolibrary.org/obo/UBERON_0001624 (anterior cerebral artery)
 http://purl.obolibrary.org/obo/UBERON_0001636 (posterior cerebral artery)

We need to run the process to regenerate the imports.

Thanks,
Sue

[2017-10-11 20:08] cmungall commented on #237
Currently we're configured such that the imports are driven from what's
in mp-edit.owl, and I don't see UBERON_0001627 in the mp-edit from
github.

We can change this pipeline any time so it's driven by an explicit file
of term IDs

(btw am in BH, at Oceanside, not sure if you are around for any of the
PRO meeting)

On 11 Oct 2017, at 15:32, Sue Bello wrote:

[2017-10-11 20:21] sbello commented on #237
Hi Chris
The commit is pending

[2017-10-12 07:44] drseb commented on #237
@cmungall we have switched to using the explicit file some months ago. maybe we should chat before you change something. right now we have only me (and probably you) as persons that know how to generate the import-files

[2017-10-12 08:03] #237 closed

[2017-10-17 18:48] RLWOHIO opened #238 "uberon_import.owl"
I think this class in the current uberon_import.owl might be problematic:

    <owl:Class rdf:about="http://purl.obolibrary.org/obo/UBERON_0016566">
        <rdfs:label rdf:datatype="http://www.w3.org/2001/XMLSchema#string">pit</rdfs:label>
        <rdfs:subClassOf rdf:resource="http://purl.obolibrary.org/obo/UBERON_0006984"/>
    </owl:Class>

It is inconsistent with uberon.owl.  After the two ge

[2017-10-17 18:50] balhoff commented on #238
I agree, uberon_import.owl is stale and causing problems.

[2017-10-17 18:57] drseb commented on #238
I just regenerated this file a few days ago. Was this problem introduced recently?

[2017-10-17 19:07] balhoff commented on #238
My mistake, @drseb, I don't see this problem anymore—it must have been with earlier versions. I can combine current versions of HPO and Uberon without a problem (as long as RO is not included).

[2017-10-17 19:16] RLWOHIO commented on #238
Yes, today.  Here is the entire error message from my test analysis:
 http://purl.obolibrary.org/obo/ZFA_0000066 --
http://www.w3.org/2000/01/rdf-schema#subClassOf --
http://purl.obolibrary.org/obo/UBERON_0000931
        http://purl.obolibrary.org/obo/UBERON_0000931 --
http://www.w3.org/2000/01/rdf-schema#subClassOf --
http://purl.obolibrary.org/obo/UBERON_0016566
        http://purl.obolibrary.or

[2017-10-17 19:23] drseb commented on #238
Let me ping Chris. Maybe he can find out more easily what is going on. Ping @cmungall

Otherwise I will look into this in the next days

[2017-10-17 19:32] cmungall commented on #238
uberon_import was regenerated 5 days ago so it should be in sync with the main release odd.

longer term this is a known issue with import chains https://github.com/ontodev/robot/issues/38

[2017-10-19 15:32] drseb opened #240 "ro_import.obo remove ok?"
Hi,

I see we have ro_import as owl and obo. I can't update ro_import.obo as the makefile fails. Can we remove the obo-version or is it required by anybody?

The owl-version is now up-to-date.

[2017-10-19 17:46] cmungall commented on #240
+1

[2017-10-19 17:53] #240 closed

[2017-10-20 15:08] balhoff commented on #232
Functional properties aren't supported by [OWL 2 EL](https://www.w3.org/TR/2012/REC-owl2-profiles-20121211/#Feature_Overview).

[2017-10-23 19:08] tkonopka opened #243 "inconsistentOntologyException"
I am running owltools and getting an InconsitentOntologyException. I've traced the error to the upheno/imports/ro_import.owl file. This file has more than doubled in size in the last week. My owltools command runs normally using ro_import.owl from last week (downloaded 2017/10/15), but throws the exception when using the file from today (2017/10/23).

I see changes to this file in past week. Pleas

[2017-10-23 19:31] drseb commented on #243
What exactly are you running in owltools, i.e. what Ontology is inconsistent now?

We also had some issues after updating ro_import (see https://github.com/obophenotype/human-phenotype-ontology/pull/2614).

[2017-10-23 19:32] drseb commented on #238
I think this can be closed now, as I regenerated uberon_import a few days ago. Please re-open if issue is still not solved

[2017-10-23 19:32] #238 closed

[2017-10-23 19:34] drseb commented on #233
I just added cl_import , so I think this issue is solved for now

[2017-10-23 19:34] #233 closed

[2017-10-24 11:50] RLWOHIO opened #244 "NCIT_C3263/NCIT_C3431 in hp.owl"
Not sure this is the right place for hp.owl issues.
Current, hp.owl contains:

<rdf:Description rdf:about="http://purl.obolibrary.org/obo/NCIT_C3263">
    <rdfs:subClassOf rdf:resource="http://purl.obolibrary.org/obo/NCIT_C3431"/>
</rdf:Description>

Yet in mpath_import.owl:

<owl:Class rdf:about="http://purl.obolibrary.org/obo/NCIT_C3431">
    <rdfs:subClassOf rdf:resource="http://purl.obolibrary

[2017-10-24 12:17] drseb commented on #244
Thanks for reporting. Is already fixed (https://github.com/obophenotype/human-phenotype-ontology/issues/2594) and will be visible when I make the new release in a few days.

[2017-10-24 12:17] #244 closed

[2017-10-24 12:23] drseb commented on #243
Discussed via email. Closing for now (otherwise I'll forget to close). This depends on a few logical definitions that have to be repaired in MP (reported to MP via email).

[2017-10-24 12:23] #243 closed

[2017-10-25 12:06] RLWOHIO opened #245 "issues with ro_import.owl / ro_extra.owl contained in hp.owl and mp.owl"
Since October 11, I have been unable to merge and reason Zfin gene phenotypes in owl format with vertebrate.owl.  Nearly all zebrafish classes became unsatisfiable.   I finally isolated the issue by yesterday (Oct 24) and it points to the ro_import.owl and ro_extra.owl.  There is likely something wrong with these two imports contained in mp and hp respectively.  Sorry I could't be more specific at

[2017-10-25 14:02] drseb commented on #245
@cmungall @balhoff  the problems with ro_import continue. Does either of you have an idea why we see a lot of anatomical entities being classified as both material and immaterial entity? (see screenshot
![screen shot](https://user-images.githubusercontent.com/5172897/32002877-cd8f6c8c-b99d-11e7-866b-77156a05a2e5.png) )

[2017-10-25 14:46] balhoff commented on #245
I think this comes down to incompatibilities between ZFA and Uberon and the ZFA-Uberon bridge. These weren't apparent before because ro_import.owl was lacking this disjointness axiom. The best approach would probably be to update ZFA to follow Uberon, but I'm not sure how easy that is.

ZFA doesn't have 'immaterial anatomical entity', but references the distinction in the definition for 'anatomica

[2017-10-27 17:15] drseb commented on #245
@cmungall any ideas or suggestions ? is there a simple solution? I am sorry that the re-generation of RO-import causes thousands of problems

[2017-10-27 19:57] cerivs commented on #245
@cmungall  & @balhoff
In anatomy, anatomical spaces are part_of continuants.  The first editor’s note for BFO:0000050 states “Everything is part of itself. any part of any part of a thing is itself part of that thing.”  The usage note states “my stomach cavity is part of my stomach (continuant parthood, immaterial entity is part of material entity)”
Anatomical spaces are inherently part of the str

[2017-10-27 20:36] balhoff commented on #245
Thanks for commenting @cerivs! I think the issue is whether material entities should be 'part of' anatomical spaces, or instead only 'located in'. I believe RO is fine with anatomical spaces being 'part of' structures. RO (not Uberon) has this axiom: `'material entity' DisjointWith 'part of' some 'immaterial entity'`.

I don't know the origins of this constraint. Does it make sense to you?

[2017-10-27 20:40] cmungall commented on #245
Correct it is only the one direction that is problem

[2017-10-27 21:49] ybradford commented on #245
@balhoff @cmungall are you suggesting that all anatomical entities that are located in an immaterial space be changed from part_of to located_in?  This constraint does not make sense to us. This seems to suggest that a material entity is located in an immaterial entity, which in turn is located in or part_of a material entity.

We are following anatomical conventions as other anatomical ontologies

[2017-10-28 01:04] balhoff commented on #245
This makes sense to me. :-)

I took a look at [BFO](http://purl.obolibrary.org/obo/bfo.owl), and it seems RO is following BFO here:

[2017-11-08 17:14] balhoff commented on #245
@RLWOHIO please try again now. I think the situation should be much better. I replaced the import of ZFA with a zfa_import file built for Upheno. This provides subClass relationships for ZFA terms which are not mapped to Uberon, but otherwise relies on Uberon for classification. This should prevent problems from incompatibilities between Uberon and ZFA.

There are still some unsatisfiable classes

[2017-11-09 16:48] RLWOHIO commented on #245
Hi,
So I did some testing with the new vertebrate.owl, but also included the
local import of OWL classes generated from Zfin_phenoGeneCleanData_fish.txt
(linked to individual genes).  Most of the 50K+ Zfin classes are still not
satisfiable, along with some ZP, MP, and HP terms.  This was not the case
prior to October 11 when I last successfully ran my analysis.  Back then,
there were only about 10

[2017-11-10 15:51] balhoff commented on #245
Hi @RLWOHIO can you post a screenshot of an explanation for equivalence to owl:Nothing for one of those ZFIN phenotype classes? Let me know if you don't know how to get that from Protégé.

[2017-11-10 19:53] RLWOHIO commented on #245
Hi Jim,

I struggled a bit to find what you asked.  Attached are a few screen shots
for each ontology.  They all seem to have something to do with the term
RO_0002573.

I will be at a conference next week so there might be a delay in my
response to my emails. Thanks much!

Ronglin

On Fri, Nov 10, 2017 at 10:51 AM, Jim Balhoff <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2017-11-10 20:26] balhoff commented on #245
Hi @RLWOHIO I don't think the attachments came through. Basically you would need to click on the question mark icon next to a line showing a given class as equivalent to owl:Nothing. It will work for a little while and then pop up a panel. Feel free to email the images directly to me if it's not working here.

[2017-11-10 23:11] RLWOHIO commented on #245
Hi Jim,

A PowerPoint attachment of screen shots sent to your email account.  They
include those from Zfin, ZP, HP, and MP, all pointing to the same issue.
Thanks again -- Ronglin

On Fri, Nov 10, 2017 at 3:26 PM, Jim Balhoff <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2017-11-13 19:33] balhoff opened #247 "Help with updating ro_import.owl"
Hi @drseb @cmungall I tried adding a [term](http://purl.obolibrary.org/obo/RO_0002296) to imports_requests.owl in support of https://github.com/obophenotype/mammalian-phenotype-ontology/pull/2529, but when I run `make imports/ro_import.owl`, this property is added as a bare annotated IRI without an ObjectProperty declaration. Any ideas?

[2017-11-13 19:35] drseb commented on #247
The current strategy is to add the RO class to import_requests.owl. Then push the changed import_requests file. Then run your make command. Does that make a difference for you?

[2017-11-13 19:40] balhoff commented on #247
Here is how I added it:

https://github.com/obophenotype/upheno/commit/9d5323796a1787c11b3506d058698b908c699f5e

I can't really understand what's happening—the term seems to be added to ro_import but it is not declared as an ObjectProperty. It looks like this:

[code]

[2017-11-15 21:43] balhoff commented on #245
@RLWOHIO the solution to the two examples you sent is pretty straightforward I think. Here is one of the expressions:

[code]

The domain of 'has modifier' should be a quality. The update to ro_import added several domain and range constraints that had been missing, but had been in RO for a while. Here the subject of the relation is a GO process. Can you rework your OWL generator to always apply m

[2017-11-16 05:44] drseb commented on #245
Wait. Isn't he using the zp.owl that we are generating?

[2017-11-16 19:24] RLWOHIO commented on #245
This is great!  I will try it out and see how it goes.  Thanks much.
Note that there are also a number of similarly unsatisfiable classes in the
HP, MP, and ZP as well, which also need to be modified accordingly.

On Wed, Nov 15, 2017 at 4:43 PM, Jim Balhoff <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2017-11-16 19:43] RLWOHIO commented on #245
Yes, I use the zp.owl.  However, I also like to have zebrafish phenotypes
tied to individual zebrafish genes, just like HP terms linked to human
genes and MP terms linked to mouse genes.  It is kind of difficult for me
to figure out directly from zp.owl which ZP terms are associated with which
zebrafish genes.

On Thu, Nov 16, 2017 at 12:44 AM, Sebastian Köhler <notifications@github.com

--
Rong-L

[2017-11-16 19:51] drseb commented on #245
@balhoff if @RLWOHIO is using zp.owl, we should fix the zp.owl generation. Shall we have a look at https://github.com/Phenomics/zebrafish-phenotype-ontology-build ?

@RLWOHIO for association between zp genes and zp-terms, I think our jenkins job generates these for you: http://compbio.charite.de/jenkins/job/zp-owl/

[2017-11-16 20:26] RLWOHIO commented on #245
Somehow I missed the jenkins location for zp.  Yes, that is exactly what I
need.  That means I dont have to do it myself at all.  Thanks!

On Thu, Nov 16, 2017 at 2:51 PM, Sebastian Köhler <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2017-11-17 23:31] RLWOHIO commented on #245
Hi Jim,

While I no longer need to build OWL classes for zebrafish genes linked to
Zfin phenotypes, I did modify my other self-constructed OWL classes (from
annotations of chemical-induced phenotypes) according to your suggestion
with regard to "has modifier".  I still get a bunch of unsatisfiable
classes (see attached slides to your work email account).  The slide 1&2
show the modified syntax of

[2017-12-01 01:32] kshefchek opened #248 "embryonic cell morphology variant is incorrectly of subclass of striated muscle morphology variant"
See: https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/WBPhenotype%3A0000770?depth=1&blankNodes=false&relationshipType=subClassOf&direction=OUTGOING&entail=false

[2017-12-08 18:43] RLWOHIO commented on #245
Any news on fixing ro_import.owl?  What is the status?

Tried vertebrate.owl again in Protege today, and there are still 347 unsatisfiable classes (260 HPs and 87 MPs).  The story is the same: each of these classes has terms eventually be SubClassOf both BFO_0000003 and BFO_0000002, which are disjoint.  If someone can recommend a quick fix for now before finding a permanent solution down the road,

[2017-12-11 14:25] RLWOHIO opened #249 "zp.owl and zebrafish genes annotated by zp terms"
http://compbio.charite.de/jenkins/job/zp-owl/annot_gene_pos.txt was built two years ago.  It contains about 2800 genes.  Does it have a more up to date version?  In comparison, Zfin_phenoGeneCleanData_fish.txt in Zfin had about 5900 genes as of September this year.  Thanks.
--

[2017-12-21 18:55] sbello opened #251 "pattern for using multiple PATO terms?"
Is there a way to use more than one PATO term in a logical definition? For example we have the MP term 'plush coat' defined as 'coat has a thick, velvet-like appearance' I think I could define this using both the PATO term 'increased thickness' and the term 'soft' but I'm unsure how or if this would work in the standard patterns. All the other terms have a single PATO term preceding the entity bei

[2017-12-21 20:31] cmungall commented on #251
In this case I think plush is a perfectly lovely PATO term. PATO could have axioms that state that this quality is composed of a softness aspect and an increased thickness (using has-part). This has some pragmatic advantages in that if we want to compare with a cat or otter ontology we don't have to rely on picking the same pair of PATO terms.

If we did was to post coordinate I'd just taken an ex

[2017-12-21 20:33] sbello commented on #251
Thanks! I'll submit a request to PATO for a new term.

[2017-12-21 20:40] sbello commented on #251
PATO ticket https://github.com/pato-ontology/pato/issues/142

[2018-01-15 15:17] matentzn opened #252 "Metazoan Anatomy Extension not accessible"
This clearly does not belong here, but since the issue arises when trying to run the upheno makefile: the x-metazoan-anatomy extension of GO has an outdated purl:
http://snapshot.geneontology.org/ontology/extensions/x-metazoan-anatomy.owl

I am not sure, but just removing the snapshot subdomain would make it resolve correctly.
http://geneontology.org/ontology/extensions/x-metazoan-anatomy.owl

[2018-01-15 16:00] drseb commented on #252
@cmungall can you fix or should I move to https://github.com/OBOFoundry/purl.obolibrary.org ?

[2018-01-15 17:40] cmungall commented on #252
Hi Nico!

Not totally following. Where abouts in the import chain do you see a hardcoding of the snapshot URLs? All the imports should use purls.

Btw, GO doesn't update x-metazoan-anatomy anymore, this is now bundled into go-plus

[2018-01-15 19:15] matentzn commented on #252
Hey Chris!

So, in the makefile, there is a target "mirror/go.owl" which refers to the purl: http://purl.obolibrary.org/obo/go/extensions/x-metazoan-anatomy
If you click on it, it will redirect you to snapshot.geneontology.org (see above). Whatever resource is located there, it is not possible to access it.

I am trying to recreate all the mappings of the phenotype ontologies, in particular mp-hp

[2018-01-15 21:21] cmungall commented on #252
You can blame anything that has gone stale on me.

We should replace the lexical mapping code to use ontobio and have a regular build of this. Can you make a separate ticket for this?

For the inferred part, we still have this outstanding issue
https://github.com/obophenotype/human-phenotype-ontology/issues/1005

[2018-01-16 18:17] matentzn commented on #252
Yeah no problem. There are some more issues with the pipeline (inconsistent ontologies and such like), so I will open tickets once I know what needs doing. Sorry for being slow on this, I am looking at a bit too many things this week :P I will check your patch at some point this week.

[2018-01-17 14:32] matentzn opened #254 "Running the target "mp-hp-view.owl" in Makefile fails (Inconsistent Ontology)"
Running the target in the makefile fails with this exception:
`Exception in thread "main" owltools.cli.AssertInferenceTool$InconsistentOntologyException: Logic inconsistencies found, count: 10
	at owltools.cli.AssertInferenceTool.assertInferences(AssertInferenceTool.java:622)
	at owltools.cli.CommandRunner.assertInferredSubClassAxioms(CommandRunner.java:4996)
	at sun.reflect.NativeMethodAccessorIm

[2018-01-17 14:38] matentzn opened #255 "Current versions of mp-hp mappings are outdated."
The Mouse group at EBI approached me because they urgently need an updated version of http://purl.obolibrary.org/obo/upheno/mp-hp-view.owl. Ideally, they would like to maintain and trigger the mapping themselves whenever they need it (for example whenever MP or HP change), if it is easy to do. They want a response by next Friday, I think they will move away from mp-hp-view otherwise... At the mome

[2018-01-17 15:25] matentzn commented on #254
I double checked the current release of the mammalian phenotype ontology, and indeed it is broken. I made a ticket, I hope they can fix it fast.

[2018-01-17 15:26] matentzn commented on #254
The question remains whether we want the pipeline overall to fail if there are unsatisfiable classes in the ontology..

[2018-01-17 15:27] drseb commented on #254
"part_of" should probably be "occurs_in" !?

[2018-01-17 15:52] matentzn commented on #254
@drseb Thats exactly what I recommended to them as well! 👍

[2018-01-17 15:53] balhoff commented on #254
@drseb @matentzn see https://github.com/obophenotype/mammalian-phenotype-ontology/issues/2535

[2018-01-17 16:19] cmungall commented on #254
On 17 Jan 2018, at 7:26, matentzn wrote:

Yes. But first we need to make sure we iron out all remaining issues,
ensure the coherency check runs in travis in a timely fashion, and that
curators are comfortable using Protege to track them down.

[2018-01-19 15:45] matentzn commented on #255
If there is anything that I can help with, like reviewing changes, testing the pipeline or seducing the Mouse people into giving us a bit more time, let me know.

[2018-01-19 16:23] balhoff commented on #255
I'm now able to run the target `mp-hp-view.owl` without error. Do they need an official release? I don't know the exact procedure for that.

[2018-01-19 16:31] matentzn commented on #255
Jim, thanks a ton.. Indeed, it looks like it might be working now! :) I will look whether everything was done correctly, and close the issue next week.

[2018-01-19 16:36] matentzn commented on #255
And I wouldn't worry about the official release at the moment. They would like to be able to generate upheno related mappings by themselves, on demand, anyway.

[2018-01-22 14:34] matentzn opened #256 "Invalid use of "part of" characteristics make reasoning behaviour unspecified."
The Human phenotype ontology, as currently located at http://purl.obolibrary.org/obo/hp.owl, is dependent on a upheno import (http://purl.obolibrary.org/obo/upheno/imports/go_import.owl) which is not in OWL 2 DL. As far as I can see, the reason for that is a violation of a global constraint, (irregular role hierarchy):

`Use of non-simple property in functional axiom <http://purl.obolibrary.org/ob

[2018-01-22 14:44] matentzn commented on #256
The same goes for Mammalian Phenotype Ontology.

[2018-01-22 17:02] balhoff commented on #256
This was an accident in GO and fixed a while back: https://github.com/geneontology/go-ontology/pull/14295

So `go_import.owl` needs to be refreshed. Clearly we need to make a practice of updating these modules much more frequently!

[2018-01-22 17:16] matentzn commented on #256
Can we nudge anyone to do it? :) If it is just about running all targets in the upheno makefile I would even do it.. Unless the file needs changing of course.

[2018-01-22 22:55] balhoff commented on #254
I am going to close this since this target works now. I am otherwise working on making the travis checks pass (they do now actually run—they have been failing for a silly reason for a long time).

[2018-01-22 22:55] #254 closed

[2018-01-22 22:58] balhoff commented on #247
This was made obsolete by #250.

[2018-01-22 22:58] #247 closed

[2018-01-23 03:21] balhoff commented on #245
@drseb I finally started looking at ZP. Here's a pull request to fix a bunch of unsatisfiabilities: https://github.com/Phenomics/zebrafish-phenotype-ontology-build/pull/1

The ZP PURL does not point to your more recent build in that repo. Should I update it to do so?

There are at least 2 other sources of unsatisfiable classes:
- Some classes that have unsatisfiable definitions and aren't in the d

[2018-01-23 13:17] matentzn commented on #255
As far as I understand at the moment, the Mous folks should be happy with the file. Closing this.

[2018-01-23 13:17] #255 closed

[2018-01-25 01:58] #256 closed

[2018-02-06 14:07] RLWOHIO commented on #245
The latest (Feb 5, 2018) version of ro_import.owl still generates a large
number of unsatisfiable ZP classes.

On Mon, Jan 22, 2018 at 10:21 PM, Jim Balhoff <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2018-02-20 15:23] matentzn opened #258 "Is UPHENO_0000001 (has phenotype affecting) correctly specified?"
In my cross-ontology analyses, I came across the role inclusion
RO_0002502 (depends on) SubPropertyOf UPHENO_0000001  (has phenotype affecting)
quite regularly, which has the slightly odd consequence that virtually everything that **depends on** (or, by impliction, **inheres in**) something else, will also inherit the **has phenotype affecting** role. Now, it does not cause damage in terms of unsa

[2018-02-26 22:12] sbello opened #259 "UBERON import updated"
I've added the terms
http://purl.obolibrary.org/obo/UBERON_0016634
http://purl.obolibrary.org/obo/UBERON_0022421
http://purl.obolibrary.org/obo/UBERON_0002151
http://purl.obolibrary.org/obo/UBERON_0006086
http://purl.obolibrary.org/obo/UBERON_0001935
to the UBERON import

Please run the process that regenerates the imports.

Thanks,
Sue

[2018-03-26 20:37] sbello opened #262 "go_import update"
Please add ganglioside (http://purl.obolibrary.org/obo/CHEBI_28892) to the go_import used in the axiom for MP:0012231

[2018-03-29 07:18] #259 closed

[2018-03-29 07:19] #262 closed

[2018-03-29 07:23] drseb commented on #249
http://compbio.charite.de/jenkins/job/zp-owl-new/

[2018-03-29 07:23] #249 closed

[2018-04-03 22:57] nicolevasilevsky commented on #149
No, a lot of these tickets are still open. I'll look at these open tickets and see if I can move them along.

[2018-04-03 23:03] nicolevasilevsky commented on #173
Removed the logical def from HP_0000872 Hashimoto thyroiditis in HPO

[2018-04-03 23:03] #173 closed

[2018-04-03 23:08] nicolevasilevsky commented on #179
Removed logical definition for HP_0001022 albinism, as Chris suggested above.

This was the logical def (just for our records):
'has part' some
    ('decreased rate'
     and ('inheres in' some
        (pigmentation
         and ('occurs in' some 'multicellular organism')))
     and ('has modifier' some abnormal))

[2018-04-03 23:08] #179 closed

[2018-04-03 23:15] nicolevasilevsky commented on #175
@pnrobinson - these diseases are annotated with the hypercorticolism class:
https://omim.org/entry/169170
https://omim.org/entry/614190
https://omim.org/entry/615830

[2018-04-04 07:09] drseb commented on #173
why not add the modifier "chronic" here? wouldn't that be a better option? @cmungall @pnrobinson

[2018-04-04 08:07] cmungall commented on #173
My instinct is no, unless we can be absolutely sure that every instance of a chronic thyroiditis is an instance of HT, and vice versa.

By all means we should add a SubClassOf has-modifier some Chronic. But equivalence seems too strong.

It's hard for me to answer though as I'm having a hard time conceiving of it as a phenotypic feature. I understand the need to keep it in for now, but it seems it

[2018-04-04 18:03] nicolevasilevsky commented on #203
@drseb and @pnrobinson
Revisiting these old tickets. These seem like distinct classes, should we remove the logical def from HP_0100490 Camptodactyly of finger?

Note, the synonyms for HP_0100490 Camptodactyly of finger use proximal joint, but the text def says the contracture can affect the distal or proximal joints, so are these exact synonyms correct?

[2018-04-04 18:04] nicolevasilevsky commented on #202
@drseb and @pnrobinson
I'm revisiting these old tickets - can you comment on my questions above? Thank you!

[2018-04-04 18:18] nicolevasilevsky commented on #198
@drseb and @pnrobinson when you have a chance, would you mind revisiting this ticket?

[2018-04-04 18:29] pnrobinson commented on #198
There is a special differential diagnostic meaning of fetal pyelectasis. I wonder if we can distinguish it from
 Dilatation of the renal pelvis by something like
[code]
where Fetal onset is the HPO term and ``has onset`` would need to be defined. This would be a correct medical definition in any case

[2018-04-04 18:37] sbello commented on #202
Hi Nicole,
We recently had this discussion for the MP as well. These should not be merged as cleft palate could mean cleft secondary palate and/or cleft primary palate. I'm trying to find the thread but haven't had any luck. There was an issue in UBERON with palate terms that needed to be resolved. Currently in the MP the term cleft palate does not have axioms attached. The closest UBERON term wou

[2018-04-04 18:43] nicolevasilevsky commented on #190
Added new logical def to HP_0005924 Abnormality of the epiphyses of the hand:

'has part' some
    (quality
     and ('inheres in' some
        (epiphysis and ('part of' some 'skeleton of manus')))
     and ('has modifier' some abnormal))

[2018-04-04 18:43] #190 closed

[2018-04-04 19:37] nicolevasilevsky commented on #202
Hi @sbello- Perhaps @markengelstad can weigh in here, he is a craniofacial surgeon. I feel like this topic came up before too. I wonder if we need a new term in Uberon?

[2018-04-04 19:41] nicolevasilevsky commented on #188
Revisiting this old ticket.
Per Peter's recent comment on #198, should we use the new 'has onset' property (which has yet to be implemented)?

And should we use 'part of' instead of 'towards'?

[code]

[2018-04-04 19:44] mellybelly commented on #202
the logical def for cleft palate is incorrect as it includes too specific an anatomical term (secondary palate). Your suggestion seems correct to me Nicole, it is the parent of the other palate terms.

[2018-04-04 19:49] balhoff commented on #188
I think it should be `towards`. `fused with` is supposed to be a "relational quality".

[2018-04-05 00:48] cmungall commented on #202
I think we should start with HPO definitions - looks like there are none for primary and second? It's often dangerous axiomatizing ahead of the text definitions as the danger is you have different mental models of what the term means and you end up axiomatizing a different concept.

HP has

[code]

I suggest getting a def for the 2 children first.

Note that is above doesn't seem compatible with a

[2018-04-05 19:55] pnrobinson commented on #198
There is a special differential diagnostic meaning of fetal pyelectasis. I wonder if we can distinguish it from
 Dilatation of the renal pelvis by something like
[code]
where Fetal onset is the HPO term and ``has onset`` would need to be defined. This would be a correct medical definition in any case

[2018-04-06 00:29] cmungall commented on #198
that looks like a fine equivalence axiom for a class 'fetal Dilatation of the renal pelvis', but it seems this would be a superclass of fetal pyelectasis

[2018-04-06 01:16] pnrobinson commented on #198
pyelectasis means dilatation of the renal pelvis. We should probably make the term labels more consistent. Let me check once though that there are nt any subtle differences we need to consider.

[2018-04-17 17:47] RLWOHIO commented on #245
Tested the latest version of ro_import.owl along with vertebrate.owl today.  There are still 1810 ZP terms NOT satisfiable (zp.owl version 2017-07-05).  All these ZP terms have data.  The old ro_import.owl (sourced from ro.owl release of 2015-04-12), however, worked perfectly fine, and ALL zp terms were satisfiable.

[2018-04-17 19:59] cerivs commented on #245
Did you use the preversion or the production version of ZFA to build ZP?

[2018-04-18 13:44] RLWOHIO commented on #245
I just like to add that, besides those unsatisfiable ZP terms, there were also a bunch of other unsatisfiable custom terms I post-composed myself.  None of them happened with the older ro_import.owl, so the issue is most likely attributable to the changes introduced into ro.owl since its release of 2015-04-12.    Earlier postings in this chain seem to implicate some sort of disjoint relationships

[2018-05-03 02:20] cmungall opened #263 "Pattern for relaxing equivalence axioms to simple subclass graph"
A common operation now part of standard OBO workflows via robot is the relaxation of equivalence axioms to weaker subClassOf axioms.

For the majority of ontologies this falls into one of two templates: `C SubClassOf D` or `C SubClassOf R some D` (i.e [Basic Existential Graphs](https://github.com/geneontology/obographs/)). These are typically treated as single edges in neo4j etc.

For phenotype on

[2018-05-03 13:46] balhoff commented on #263
+1, I named this chain to simplify queries in Phenoscape.

[2018-05-08 19:02] jimmccusker opened #264 "go_import.owl misclassifies UBERON_0000000 [anatomy] as BFO_0000003 [occurrent]"
This leaves importing ontologies with significant inconsistencies. It should be mapped as BFO_0000002 [continuant].

[2018-05-08 19:15] balhoff commented on #264
Hi @jimmccusker, UBERON:0000000 is [processual entity](http://purl.obolibrary.org/obo/UBERON_0000000), which subsumes 'life cycle' and 'life cycle stage'. These should be occurrents. Where do you see inconsistencies arising? Thanks!

Aside: `go_import.owl` does have some stale Uberon stuff and needs to be refreshed. This can cause some incompatibility with the current Uberon; not sure whether that

[2018-05-08 19:32] jimmccusker commented on #264
Then that's the problem. uberon_import.owl seems to think that UBERON:0000000 is anatomy. Somehow the IDs have been mixed up. I'm not sure if the doid_imports set is different from this project, but this whole thing seems to be a bit tangled.

<img width="1014" alt="screen shot 2018-05-08 at 3 29 51 pm" src="https://user-images.githubusercontent.com/602385/39778609-c99689b4-52d4-11e8-9a15-f8379662

[2018-05-08 19:46] balhoff commented on #264
Oh, I see you're looking at DOID's Uberon extract. That's independent of the piece of Uberon used here, although it should all be consistent. I don't understand where DO got their Uberon extract, it is inconsistent with Uberon itself. I opened a ticket: https://github.com/DiseaseOntology/HumanDiseaseOntology/issues/497

[2018-05-08 19:51] jimmccusker commented on #264
I've filed one too, and switched over to do-simple (which they don't have a purl for, natch). Not upheno's fault, closing.

[2018-05-08 19:51] #264 closed

[2018-05-08 19:51] balhoff commented on #264
Thanks for catching this!

[2018-05-10 18:00] sbello opened #265 "add PATO:0000622 to the import"
Please add  PATO:0000622 to the import
label: erect
http://purl.obolibrary.org/obo/PATO_0000622

[2018-05-10 18:16] sbello opened #266 "add UBERON:0016915 to the import"
Please add UBERON:0016915
label: vermilion
http://purl.obolibrary.org/obo/UBERON_0016915

[2018-05-10 19:39] sbello commented on #265
Also add PATO:0001775
label: dorsal-ventral polarity
http://purl.obolibrary.org/obo/PATO_0001775

[2018-05-10 20:06] sbello opened #267 "new pattern 'misaligned X'"
We have a few terms in the MP that use the PATO term 'misaligned with'. We may want to add this to our standard patterns. See for example
MP:0030541 misaligned incisors
equivalence axiom:
'has part' some
    ('misaligned with'
     and ('inheres in' some 'incisor tooth')
     and (towards some 'incisor tooth')
     and ('has modifier' some abnormal))

[2018-05-10 20:15] sbello commented on #265
also add PATO:0002539
label: ring shaped
http://purl.obolibrary.org/obo/PATO_0002539

[2018-05-10 20:40] pnrobinson commented on #267
One probably minor issue is that (I think) the definition does not imply that one incisor is misaligned with the other incisor, and so I do not think we gain anything by having both "inheres in" and "towards" -- I think it would be essentially the same to simply say  ('inheres in' some 'incisor tooth') and not try to define exactly how the incisor is misaligned.

[2018-05-10 20:54] sbello commented on #267
The term in the MP specifies misalignment of the upper and lower incisors so I think the inclusion of 'inheres in' and 'towards' makes sense but we might want to be more specific and change 'incisor tooth' to upper jaw incisor and lower jaw incisor.

Another example of this pattern is strabismus? I currently have this as:
'has part' some
    ('misaligned with'
     and ('inheres in' some 'camera-t

[2018-05-10 20:56] pnrobinson commented on #267
what I mean is that the logical definition does not imply that the tooth or eye of the "inhere is" is different from the tooth or eye in "towards", and thus it does not provide additional information above and beyond saying simply ('inheres in' some 'camera-type eye')  unless I am missing something.

[2018-05-10 21:03] sbello commented on #267
Ah, I read the addition of towards to specify what the first thing was aligned with. So adding towards incisor tooth implies that the incisor alignment is in relation to some incisor and not to say a molar or the jaw in general. Same thing for eye, you're aligning the eyes to each other rather than to some other facial feature.

[2018-05-10 21:06] pnrobinson commented on #267
My understanding is that one "some" knows nothing about the other "some", and so the towards could be related to any other tooth or eye and not necessarily the other one. If one wrote inheres in tooth towards nose it would be better defined...but hopefully Chris or Seb can weigh in here about this? @cmungall @drseb

[2018-05-10 22:11] cmungall commented on #267
I recommend avoiding relational qualities and 'towards' here. They are awkward, and often the direction is arbitrary. We've been successful doing this for representing things like inc/dec distance between eyes using classes like  [UBERON:0013678](http://purl.obolibrary.org/obo/UBERON_0013678) "anatomical line between inner canthi". This may seem like punting the problem, but it makes some sense as

[2018-05-11 14:36] sbello commented on #267
For current MGI purposes the part of this we really need is the relation to the UBERON anatomy term. @cmungall is there an acceptable way to just specify the anatomical structure without specifying the rest of the equivalence axiom?

[2018-05-11 15:41] cmungall commented on #267
Can you explain the dependency more? Is having an axiom on the superclass
ok if it's too the most precise uberon term?

On Fri, May 11, 2018, 07:36 Sue Bello <notifications@github.com> wrote:

[2018-05-11 16:59] sbello commented on #267
We have implemented links and comparison matrices between gene expression and phenotype data. See http://www.informatics.jax.org/gxd/phenogrid/MGI:109583 The links are currently only made when the MP term has an UBERON term in the logical definition (and the UBERON term has a cross-reference to EMAPA). We don't consider the presence of an UBERON term associated with an MP term's parent since this